.template-preview-modal {
  &__container {
    padding: 0;
    margin: 0;
    background-color: var(--logile-bg-container-1);
  }
  &__container--mobile {
    padding-bottom: var(--space-s);
    background-color: var(--logile-bg-base);
  }
  &__header {
    padding: var(--space-l) var(--space-xl) 0px var(--space-xl);
    background: var(--logile-bg-container-1);
  }
  &__header--mobile {
    padding: 0px;
  }
  &__outline-icon--mobile.template-preview-modal__outline-icon--mobile {
    border: 1px solid transparent;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    margin: var(--space-l) var(--space-xl) var(--space-xl) var(--space-xl);
  }
  &__content--mobile {
    width: 100%;
    gap: unset;
    margin: 0px;
  }
  &__loading-wrapper {
    border-radius: var(--radius-l);
  }
  &__loading-wrapper-mobile {
    border-radius: var(--radius-l);
  }
  &__content-form {
    gap: unset;
  }
  &__title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-4xl);
  }
  &__title-wrapper--mobile {
    background-color: var(--logile-bg-primary);
    padding: var(--space-l) var(--space-xl);
  }
  &__cursor {
    cursor: pointer;
  }
  &__desktop-icon {
    margin-top: var(--space-s);
  }
  &__title {
    font-size: var(--logile-size-secondary-heading);
    font-family: var(--logile-weight-500);
    width: fit-content;
    color: var(--logile-text-primary);
  }
  &__title--mobile {
    font-size: var(--logile-size-body);
    color: var(--logile-text-white);
  }
  &__action-wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-m);
  }
  &__questions-wrapper {
    color: var(--logile-text-primary);
    font-size: var(--logile-size-body);
    font-weight: var(--logile-weight-400);
    width: 100%;
    border: 1px solid var(--logile-border-secondary);
    border-radius: var(--radius-m);
  }
  &__questions-wrapper--mobile {
    border: none;
  }
  &__question-wrapper {
    border-bottom: 1px solid var(--logile-border-tertiary);
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
  }
  &__question-wrapper--mobile {
    border-bottom: none;
    background-color: var(--logile-bg-container-1);
    margin: var(--space-xl);
    border-radius: var(--radius-l);
  }
  &__answer-wrapper {
    width: 100%;
    display: flex;
    gap: var(--space-xl);
  }
  &__answer-wrapper--desktop {
    display: flex;
    gap: var(--space-xl);
  }
  &__question-title {
    font-size: var(--logile-size-body);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-m);
  }
  &__question-title--mobile {
    flex-direction: column;
    align-items: flex-start;
  }
  &__paper {
    background-color: var(--logile-bg-base);
    border-radius: var(--radius-m);
    .MuiMenuItem-root {
      &.Mui-focusVisible {
        background-color: transparent;
      }
      &.Mui-selected {
        background-color: transparent;
      }
      &:hover {
        background-color: var(--logile-bg-primary-x-subtle);
      }
      display: flex;
      align-items: center;
    }
  }
  .MuiOutlinedInput-input {
    color: var(--logile-text-tertiary);
  }
  .MuiRadio-root {
    padding: var(--space-m);
  }
  .MuiCheckbox-root {
    padding: var(--space-m);
  }

  &__grid-table {
    position: relative;
    overflow-x: auto;
    overflow-y: visible;
    max-height: 450px;
    width: 100%;
    display: block;

    table {
      border-collapse: separate;
      border-spacing: 0;
      width: max-content;
      min-width: 100%;
    }

    .MuiTableHead-root,
    .MuiTableBody-root {
      .MuiTableRow-root {
        color: var(--logile-text-primary);
        font-weight: var(--logile-weight-400);
        .MuiTableCell-root:first-child {
          min-width: 388px;
          position: sticky;
          left: 0;
          z-index: var(--zindex-s);
          filter: drop-shadow(4px 0px 0 rgba(0, 0, 0, 0.02));
        }
      }
    }
    .MuiTableCell-root {
      font-size: var(--logile-size-body);
      min-width: 290px;
      padding: var(--space-l) var(--space-xl);
      color: var(--logile-text-primary);
      font-weight: var(--logile-weight-400);
    }
    .MuiTableRow-root {
      vertical-align: top;
    }

    .MuiTableBody-root {
      .MuiTableRow-root {
        .MuiTableCell-root {
          background-color: var(--logile-bg-container-1);
        }
      }
    }
    .MuiTableCell-head {
      position: sticky;
      top: 0;
      font-weight: var(--logile-weight-500);
      z-index: var(--zindex-xs);
      background-color: var(--logile-bg-table-header);
    }

    scrollbar-color: var(--logile-border-tertiary) transparent;
    scrollbar-width: thin;
  }
  &__grid-question-container {
    .MuiTableCell-root {
      min-width: 320px;
    }
  }
  &__grid-table-header {
    .MuiTableCell-root {
      padding: var(--space-xl);
    }
    background-color: var(--logile-bg-table-header);
  }

  &__tags-wrapper {
    display: flex;
    gap: var(--space-m);
    width: fit-content;
    padding: var(--space-xs) var(--space-m);
    background-color: var(--logile-bg-primary-x-subtle);
    border-radius: var(--radius-s);
  }

  &__checkbox-menu-item {
    display: flex;
    align-items: center;
  }
  &__common-checkbox.template-preview-modal__common-checkbox {
    margin: 0px;
    .MuiCheckbox-root {
      padding: 0px;
    }
    .MuiSvgIcon-root {
      font-size: var(--logile-size-kpi-number);
      color: var(--logile-border-primary);
    }
  }
  &__common-radio.template-preview-modal__common-radio {
    .MuiSvgIcon-root {
      font-size: var(--logile-size-secondary-heading);
      color: var(--logile-border-secondary);
    }
    .MuiFormControlLabel-label.Mui-disabled {
      color: var(--logile-text-primary);
    }
  }
  &__common-textfield.template-preview-modal__common-textfield {
    min-width: 200px;
    .MuiOutlinedInput-input.Mui-disabled {
      -webkit-text-fill-color: var(--logile-text-primary);
    }
  }
  &__dropdown-menu-item {
    display: flex;
    align-items: center;
    gap: var(--space-l);
  }
  &__dropdown-menu-item-tooltip {
    font-size: var(--logile-size-caption);
  }
  &__common-dropdown {
    height: 40px;
    min-width: 200px;
  }
  &__common-dropdown--mobile {
    width: 100%;
  }
  &__attachment-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-l);
  }
  &__space-between.template-preview-modal__space-between {
    justify-content: space-between;
  }
  &__radio-item {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    label {
      margin: 0;
    }
  }
  &__column {
    flex-direction: column;
  }
  &__file-upload-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    .label {
      font-size: var(--logile-size-secondary-text);
      color: var(--logile-text-secondary);
    }
    .upload-box {
      height: 44px;
      width: fit-content;
      position: relative;
      display: flex;
      align-items: center;
      gap: var(--space-l);
      padding: 0px var(--space-5xl);

      .label {
        font-size: var(--logile-size-secondary-text);
        color: var(--logile-text-primary);
      }
      --dash-color: var(--logile-border-secondary);
      --dash-width: var(--space-s);
      --dash-gap: var(--space-s);
      --dash-radius: var(--space-m);
    }

    .upload-box::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: var(--dash-radius);
      pointer-events: none;
      background: repeating-linear-gradient(
          to right,
          var(--dash-color) 0 var(--dash-width),
          transparent var(--dash-width)
            calc(var(--dash-width) + var(--dash-gap))
        ),
        repeating-linear-gradient(
          to bottom,
          var(--dash-color) 0 var(--dash-width),
          transparent var(--dash-width)
            calc(var(--dash-width) + var(--dash-gap))
        ),
        repeating-linear-gradient(
          to right,
          var(--dash-color) 0 var(--dash-width),
          transparent var(--dash-width)
            calc(var(--dash-width) + var(--dash-gap))
        ),
        repeating-linear-gradient(
          to bottom,
          var(--dash-color) 0 var(--dash-width),
          transparent var(--dash-width)
            calc(var(--dash-width) + var(--dash-gap))
        );
      background-repeat: no-repeat;
      background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
      background-position: 0 0, 100% 0, 0 100%, 0 0;
    }
  }

  &__action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-s);
    border-radius: var(--radius-m);
    background: var(--logile-bg-surface-bold);
    color: var(--logile-text-white);
    font-size: var(--logile-size-body);
    width: fit-content;
    min-width: 152px;
    height: 36px;
    padding: var(--space-xl);
  }

  .common-date-picker {
    &__textfield {
      width: 220px;
      cursor: pointer;
    }
    &__textfield-icon {
      svg {
        fill: var(--logile-text-secondary);
      }
    }
    &__textfield--mobile {
      width: 100%;
    }
  }

  &__date-picker-popper {
    .MuiDayCalendar-weekDayLabel {
      font-size: var(--logile-size-caption);
      font-weight: 500;
    }

    .MuiPickersLayout-root {
      font-size: var(--logile-size-caption);
    }

    .MuiPickersDay-root {
      font-size: var(--logile-size-caption);
    }

    .MuiPickersCalendarHeader-label {
      font-size: var(--logile-size-body);
      font-weight: 500;
    }

    .MuiClockNumber-root {
      font-size: var(--logile-size-body);
    }

    .MuiDialogActions-root button {
      font-size: var(--logile-size-caption);
    }

    .MuiPickersDay-today {
      background-color: var(--logile-bg-primary-x-subtle);
    }

    .MuiMenuItem-root {
      font-size: var(--logile-size-caption);
    }

    .MuiDateCalendar-root {
      height: 320px;
    }
  }

  &__mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .template-preview-modal__upload--mobile {
    width: 100%;
    justify-content: center;
  }

  &__form-wrapper {
    padding: var(--space-m) var(--space-l);
    border: 1px solid var(--logile-border-secondary);
    border-radius: var(--radius-m);
    display: flex;
    width: fit-content;
    align-items: center;
    gap: var(--space-2xl);
    font-size: var(--logile-size-body);
    margin: var(--space-l) 0;
  }
  &__form-title {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    color: var(--logile-text-primary);
  }
  &__form-sub-text {
    color: var(--logile-text-secondary);
    font-size: var(--logile-size-secondary-text);
    margin-top: var(--space-xs);
  }

  &__answer-wrapper-grid--desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__answer-wrapper-grid--mobile {
    align-items: center;
  }

  // ---------- Mobile Responsive View for Grid ----------

  &__grid-table--mobile {
    display: block;
    width: 100%;
    border-collapse: separate;

    .MuiTableHead-root {
      display: none; // hide header on mobile
    }

    .MuiTableBody-root {
      display: flex;
      flex-direction: column;
      gap: var(--space-xl);
      padding: var(--space-xl);
    }

    .MuiTableRow-root {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--logile-border-tertiary);
      border-radius: var(--radius-l);
      padding: 0px;
      background-color: var(--logile-bg-container-1);
      overflow: hidden;
    }
    .MuiTableHead-root,
    .MuiTableBody-root {
      .MuiTableRow-root {
        .MuiTableCell-root:first-child {
          min-width: 100%;
          filter: none;
          border-bottom: none;
          padding: var(--space-l) var(--space-l) var(--space-xs) var(--space-l);
        }
      }
    }

    .MuiTableCell-root {
      display: block;
      width: 100%;
      padding: var(--space-m) 0;
      font-size: var(--logile-size-body);
      border-bottom: 1px solid var(--logile-border-secondary);
      padding: var(--space-l) var(--space-l) var(--space-2xl) var(--space-l);

      &:first-child {
        font-weight: var(--logile-weight-500);
        color: var(--logile-text-primary);
        margin-bottom: 0px;
      }

      &:not(:first-child) {
        margin-left: 0;
      }

      &::before {
        content: attr(data-label);
        color: var(--logile-text-secondary);
        font-size: var(--logile-size-secondary-text);
        font-weight: var(--logile-weight-400);
      }

      // Ensure dropdowns, inputs, etc. are full width
      .MuiTextField-root,
      .MuiSelect-root,
      select,
      input {
        width: 100% !important;
      }
    }
    .template-preview-modal__answer-wrapper {
      gap: 0px;
    }
    .template-preview-modal__attachment-wrapper {
      padding: var(--space-l) var(--space-l) var(--space-xl) var(--space-l);
    }
  }
}
