@use "@/styles/mixins/mixins.scss" as *;

.question-accordion {
  padding: 0px;
  --expand-icon-s: 24px;
  &__wrapper.question-accordion__wrapper {
    box-shadow: none;
    border-bottom: none;
    &::before {
      display: none;
    }
  }
  &--mobile {
    .MuiPaper-root {
      background: var(--logile-bg-container-2);
    }
    .Mui-expanded {
      .MuiAccordionSummary-expandIconWrapper {
        height: 44px;
        margin-right: var(--space-l);
        background: var(--logile-bg-container-3);
        border-top-right-radius: var(--radius-m);
      }
    }
  }

  .question-accordion__icon {
    border: 1px solid var(--logile-border-tertiary);
    border-radius: var(--radius-m);
    padding: var(--space-xxs);
    display: flex;
    align-items: center;
    color: var(--logile-icon-primary);
    &--mobile {
      height: var(--size-9);
      width: var(--size-9);
      color: var(--logile-border-primary);
      border: none;
    }
  }

  .MuiAccordionSummary-expandIconWrapper {
    margin-top: 0px;
    margin-right: var(--space-l);
  }

  &__summary.question-accordion__summary {
    background: transparent;
    padding: var(--space-l) 0;
    min-height: 24px;
    border: 1px solid var(--logile-border-tertiary);
    border-radius: var(--radius-m);
    .MuiAccordionSummary-content {
      margin: 0 0 0 var(--space-l);
    }
  }

  &__header-wrapper.question-accordion__header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-m);

    .question-accordion__header-right {
      @include flex-box(row);
      gap: var(--space-m);
    }
  }
  &__count.question-accordion__count {
    border-radius: var(--radius-m);
    border: 1px solid var(--logile-border-bold);
    font-size: var(--logile-size-body);
    font-weight: var(--logile-weight-400);
    padding: var(--space-m) var(--space-4xl);
    color: var(--logile-text-primary);
  }

  &__chip.question-accordion__chip {
    margin: 0 0 0 var(--space-l);
    border-radius: var(--radius-m) var(--radius-m) 0 0;
    background: var(--logile-bg-surface);
    color: var(--logile-text-white);
    font-size: var(--logile-size-body);
    padding: var(--space-xl) var(--space-l);
    font-weight: var(--logile-weight-500);
    max-width: 65%;
  }
  &__chip-mobile.question-accordion__chip-mobile {
    margin: 0;
    background: var(--logile-bg-container-2);
    color: var(--logile-text-primary);
    max-width: 90%;
  }

  .Mui-expanded {
    .question-accordion__chip {
      padding: var(--space-m) var(--space-l);
      border-radius: var(--radius-m) var(--radius-m) 0 0;
      background: var(--logile-bg-surface);
      color: var(--logile-text-white);
    }
    .question-accordion__chip-mobile {
      margin: 0;
      background: var(--logile-bg-container-3);
      color: var(--logile-text-primary);
    }
    .question-accordion__summary {
      min-height: fit-content;
      padding: 0;
      border: none;
      border-radius: var(--radius-m);

      .MuiAccordionSummary-content {
        margin: 0 0 0 var(--space-l);
      }
      &--mobile {
        background: var(--logile-bg-container-3);
        border-top-left-radius: var(--radius-m);
        border-top-right-radius: var(--radius-m);
        .MuiAccordionSummary-content {
          padding-top: var(--space-l);
          border-top-left-radius: var(--space-m);
          background: var(--logile-bg-container-3);
        }
      }
    }

    .question-accordion__summary--mobile {
      background: var(--logile-bg-container-2);
      border-radius: 0;
    }

    .MuiAccordionSummary-expandIconWrapper {
      margin-right: var(--space-l);
    }
  }
  div.MuiCollapse-root {
    transition: none !important;
  }

  &__details.question-accordion__details {
    border: 1px solid var(--logile-border-secondary);
    border-radius: var(--radius-m);
    padding: 0;
  }
  &__details-mobile.question-accordion__details-mobile {
    background: var(--logile-bg-container-3);
    border: 1px solid transparent;
  }
}

.question-item {
  &__content {
    padding: var(--space-xl) var(--space-l);
  }

  &__label.question-item__label {
    display: flex;
    font-size: var(--logile-size-body);
    font-weight: var(--logile-weight-400);
    color: var(--logile-text-primary);
  }

  &__required.question-item__required {
    color: var(--logile-text-state-violation);
  }

  &__options.question-item__options {
    margin-top: var(--space-m);
  }
}
