@use "@/styles/mixins/mixins.scss" as *;

.ct-follow-up-recipients {
  --recipient-btn-width: 200px;
  --select-width: 180px;
  padding: var(--space-xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-3xl);
  &__form-label {
    @include form-label($isClickable: false, $required: true);
  }
  &__send-to-wrapper {
    @include flex-center(space-between, center, var(--space-m));
  }
  &__custom-recipient-button {
    width: var(--recipient-btn-width);
  }
  &__custom-recipients-extra-list {
    display: flex;
    align-items: center;
    gap: var(--space-6xl);
    .select {
      width: var(--select-width);
    }
  }
  &__recipients-count-error {
    @include form-label($isClickable: false, $error: true);
  }
}

.ct-add-follow-up-modal__custom-recipient-section {
  @include flex-box(column);
  gap: var(--space-m);
  &-list {
    @include flex-center(space-between);
    padding: 0 var(--space-xl);
    min-height: var(--recipient-min-height);
    border-radius: var(--radius-m);
    border: 1px solid var(--logile-border-primary);
    &-item {
      @include flex-center(flex-start, center, var(--space-xs));
    }
  }
  &-actions {
    @include flex-center(flex-end, center, var(--space-none));
  }
}
