.ct-follow-up-condition {
  --condition-select-width: 180px;
  padding: var(--space-xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  &-select-condition {
    width: var(--condition-select-width);
  }
  &-item-wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-m);
  }
}
