.common-modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-overlay);
  z-index: var(--zindex-xl);
  
  &__content {
      --common-modal-width: 90vw;
      --common-modal-height: 90vh;

      &--small {
        --common-modal-width: 375px;
        width: min(var(--common-modal-width), 90vw);
      }
      &--medium {
        --common-modal-width: 460px;
        width: min(var(--common-modal-width), 90vw);
      }
      &--large {
        --common-modal-width: 95vw;
      }

      background-color: var(--bg-base);
      border-radius: var(--radius-m);
      outline: none;
      max-width: var(--common-modal-width);
      max-height: var(--common-modal-height);
      overflow-y: auto;
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;

      &-header {
          font-size: var(--size-secondary-heading);
          font-weight: var(--weight-500);
          color: var(--text-primary);
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 2px;
          background-color: var(--bg-base);
          padding: var(--space-xl) var(--space-xl) var(--space-l);

          &-title {
            width: 100%;
            color: var(--text-primary);
          }
      }
      
      &-body {
        border-radius: var(--radius-m);
        padding: 0 var(--space-xl);
        outline: none;
        overflow-y: auto;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
      }

       &-footer {
          display: flex;
          justify-content: center;
          gap: 16px;
          padding: var(--space-l) var(--space-xl) var(--space-xl);

          // &-cancel {
          //   color: var(--text-primary);
          //   font-size: var(--size-body);
          //   font-weight: var(--weight-400);
          //   border: 1px solid var(--border-secondary);
          // }
         
          // &-confirm {
          //   color: var(--text-white) !important;
          //   font-size: var(--size-body) !important;
          //   font-weight: var(--weight-400) !important;
          //   background-color: var(--bg-primary) !important;
          // }
      }
  }
}