.common-modal {
    &__main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--bg-container-1);
        box-shadow: 0 12px 24px rgba(0,0,0,0.12);
        border-radius: var(--radius-m);
        padding: var(--space-l) var(--space-xl);
        color: var(--text-primary);
        border: 1px solid var(--border-secondary);
        max-height: 80vh;
        overflow-y: auto;
    }
    &__header {
        font-size: var(--size-secondary-heading);
        font-weight: var(--weight-500);
        color: var(--text-primary);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
        margin-bottom: 8px;
        &-title {
            width: 100%;
        }
    }
    &__content {
        font-size: var(--size-body)
    }
    &__actions {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        gap: 16px;
        &-btn{
            &-confirm {
                font-size: var(--size-body);
                background-color: var(--primary-main);
                color: var(--text-white);
                background-color: var(--bg-primary);
            }
            &-cancel {
                font-size: var(--size-body);
                color: var(--text-primary);              
                border: 1px solid var(--border-secondary);
            }
        }
    }
}