.sidebar__container{

    height: inherit;
    gap:var(--space-sm);
    display: flex;
    align-items: start;
    overflow-y: auto;
    // white-space: nowrap;
    word-break: keep-all;
    padding-right: 0px;
    scrollbar-width: none;
    background-color:var(--bg-secondary);
    width:0px;
    
    scrollbar-width: none;

      &>.sidebar__list{
      
        width: 100%;
          max-width: fit-content;
          gap:var(--space-sm);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
         &-item{
          &--active{
            background-color: rgba(255, 255, 255, 0.1);
            color:var(--primary-color);
            font-weight:500;
            &::before{
              background-color: var(--primary-color);
              content:"";
              position:absolute;
              top:50%;
              border-start-end-radius:.4rem;
              border-end-end-radius:.4rem;
              left:0;
              width:.3rem;
              height:3.6rem;
              transform:translateY(-50%);
            }
          }
         }
      }
      & .sidebar__switch{
        display:flex;
        align-items:center;
        flex-direction:row;
        justify-content:center;
        
        color:var(--primary-color);
        cursor:pointer;
        transition: all .2s ease-in-out;
        position: sticky;
        top: 0;
        background-color: var(--bg-secondary);
        z-index: 2;
        gap: var(--space-xs);
        font-size: 1.4rem;
        &:hover{
            background-color: rgba(255, 255, 255, 0.1);
        }
        & > button{

          padding:var(--space-xl);
          display: flex;
          gap: var(--space-xs)
        }
      };
      .sidebar__list-item{
        align-self: stretch;
        border-radius: 8px;
        padding:var(--space-md);  
        cursor: pointer;
        transition: all .2s ease-in-out;
        display:flex;
        align-items:center;
        flex-direction:column;
        justify-content:center;
        flex-grow: 1;
        &:hover{
            background-color: rgba(255, 255, 255, 0.1);
        }
        &>a{
      
            display: block;
            width: 100%;
        }
    }
}
