.ct-input-type-modal {
  --input-field-width: 80px;
  --input-dropdown-field-width: 180px;
  --date-dropdown-field-width: 180px;

  &__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xl);
    padding: var(--space-3xl) var(--space-xl);
  }
  &__footer {
    padding: var(--space-xl);
    display: flex;
    align-items: center;
    gap: var(--space-l);
  }
  &__length-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-7xl);
  }
  &__input-type-select-field {
    width: var(--input-dropdown-field-width);
  }
  &__date-view-select-field {
    width: var(--date-dropdown-field-width);
  }
}
