.select {
  &__label {
    display: block;
    font-size: var(--logile-size-secondary-text);
    font-weight: var(--logile-weight-400);
    color: var(--logile-text-secondary);
    line-height: var(--logile-line-height-secondary-text);
  }
  &__placeholder-text {
    color: var(--logile-text-tertiary);
  }
  .MuiSelect-select {
    padding: 0;
  }
  .MuiOutlinedInput-input {
    color: var(--logile-text-primary);
  }
}
.select__menu {
  &.MuiPaper-root {
    box-shadow: none;
    border: 1px solid var(--logile-border-secondary);
    padding: var(--space-m) 0;
    &.MuiPopover-paper {
      max-height: unset;
    }
  }
  & .MuiMenu-list {
    padding: 0;
    max-height: var(--dropdown-menu-max-height);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .select-menuitem__toolbar {
    z-index: calc(var(--zindex-dropdown) + 2);
    position: sticky;
    top: 0;
    background-color: var(--logile-bg-container-1);
    padding: var(--space-m);
  }
}
