@use "@/styles/mixins/mixins.scss" as *;

.create-template-basic-info {
  @include placeholder-page;
  --basic-info-row-width: 440px;
  --basic-info-dropdown-width: 200px;
  --basic-info-tag-dropdown-width: 100%;

  gap: var(--space-3xl);
  padding: var(--space-xl);

  &__row {
    width: 100%;
    display: flex;
    gap: var(--space-4xl);
  }

  &__row-item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__row-first-item {
    width: var(--basic-info-row-width);
  }

  &__dropdown-row {
    @include flex-center(start, center, var(--space-l));
    width: 100%;
  }

  &__dropdown-menu.create-template-basic-info__dropdown-menu {
    width: var(--basic-info-dropdown-width);
  }

  &__label.create-template-basic-info__label {
    width: fit-content;
    color: var(--logile-text-secondary);
    font-size: var(--logile-size-secondary-text);
    font-weight: var(--logile-weight-400);
    line-height: var(--logile-line-height-body-large);
  }
  &__label.required-icon::after {
    content: " *";
    color: var(--logile-text-state-violation);
  }
}
