@use "@/styles/mixins/mixins.scss" as *;

.ct-basic-info {
  @include placeholder-page;
  --basic-info-row-width: 440px;
  --basic-info-dropdown-width: 200px;
  --basic-info-row-width-desktop: 1036px;
  --basic-info-tags-width-desktop: 800px;

  gap: var(--space-3xl);
  padding: var(--space-xl);

  &__row {
    width: 100%;
    display: flex;
    gap: var(--space-4xl);
    &--desktop {
      @include flex-box(column);
    }
  }

  &__row-item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__row-item-tags {
    &--desktop {
      width: var(--basic-info-tags-width-desktop);
    }
  }

  &__row-item-label {
    color: var(--logile-text-secondary);
    font-size: var(--logile-size-secondary-text);
    line-height: var(--logile-line-height-secondary-text);
  }

  &__row-item-tags-dropdown {
    .MuiOutlinedInput-root {
      padding-left: var(--space-s);
    }
    &--desktop {
      --dropdown-max-height-desktop: 220px;
      .MuiPaper-root,
      .MuiPaper-root-MuiPopover-paper {
        max-height: var(--dropdown-max-height-desktop);
      }
    }
  }

  &__row-first-item {
    width: var(--basic-info-row-width);
    &--desktop {
      width: var(--basic-info-row-width-desktop);
    }
  }

  &__dropdown-row {
    @include flex-center(start, center, var(--space-l));
    width: 100%;
  }

  &__dropdown-menu.ct-basic-info__dropdown-menu {
    width: var(--basic-info-dropdown-width);
  }

  &__label.ct-basic-info__label {
    width: fit-content;
    color: var(--logile-text-secondary);
    font-size: var(--logile-size-secondary-text);
    font-weight: var(--logile-weight-400);
    line-height: var(--logile-line-height-body-large);
  }
  &__label.required-icon::after {
    content: " *";
    color: var(--logile-text-state-violation);
  }
}
