@use "@/styles/mixins/mixins.scss" as *;

.notifications-card {
  --notification-answer-width: 20%;
  --notification-message-width: 20%;
  --notification-recipients-width: 20%;

  @include flex-center(space-between, flex-start);
  border-radius: var(--radius-m);
  border: 1px solid var(--logile-border-primary);
  padding: var(--space-l) var(--space-xl);

  &__title {
    color: var(--logile-text-secondary);
    font-size: var(--logile-size-secondary-text);
    line-height: var(--logile-line-height-secondary-text);
    display: flex;
    align-items: center;
    gap: var(--space-s);
  }
  &__content {
    color: var(--logile-text-primary);
    font-size: var(--logile-size-body);
    line-height: var(--logile-line-height-body);

    &-condition {
      flex-shrink: 2;
      flex: 1;
      margin-right: auto;
    }
    &-question {
      flex-shrink: 1;
      flex: 1;
      margin-right: auto;
    }
    &-answer {
      flex-shrink: 1;
      width: var(--notification-answer-width);
    }
    &-message {
      flex-shrink: 1;
      width: var(--notification-message-width);
    }
    &-recipients {
      flex-shrink: 1;
      width: var(--notification-recipients-width);
    }
    &-label-truncate-btn {
      color: var(--logile-text-state-information);
      font-size: var(--logile-size-secondary-text);
      line-height: var(--logile-line-height-secondary-text);
      margin-left: var(--space-xs);
      cursor: pointer;
    }
  }
  &__actions {
    @include flex-center(center, center, var(--space-l));
  }
}
