:root{
  --auto-complete-width: 200px;
}
.auto-complete {
  --auto-complete-height: 36px; //TODO: update with variable once provided by design team
  --auto-complete-menu-list-height: 250px;

  color: var(--text-primary);
  font-size: var(--size-body);

  &__label {
    display: block;
    font-size: var(--size-secondary-text);
    font-weight: var(--weight-400);
    color: var(--text-secondary);
    line-height: var(--line-height-secondary-text);
  }

  &__input-wrapper {
    width: var(--auto-complete-width);
    height: var(--auto-complete-height);
    border: 1px solid var(--border-secondary);
    border-radius: var(--space-m);
    padding: var(--space-xs);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: var(--bg-container-1);
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &:hover {
      border-color: var(--border-brand-primary-subtle);
    }

    &.focused {
      border-color: var(--border-brand-primary-subtle);
    }

    input {
      background-color: var(--bg-container-1);
      color: var(--text-primary);
      padding: var(--space-xs);
     flex: 1;
      border: 0;
      outline: 0; 
    }

    input::placeholder {
      color: var(--text-tertiary);
      font-size: var(--size-body);
      font-weight: var(--weight-400);
    }
  }

  &__ungroup-label {
   font-size: var(--size-body);
    font-weight: var(--weight-600);
    color: var(--text-secondary);
  }

  &__group-label {
   font-size: var(--size-body);
  }

  &__tag {
    display: flex;
    align-items: center;
    height: 24px; //TODO: Assign variable height once design team updates
    margin: var(--space-xs);
    background-color: var(--bg-container-3);
    border: 1px solid var(--border-primary);
    border-radius: var(--radius-s);
    padding: 0 4px 0 10px; //TODO: Assign variable padding once design team updates
    gap: var(--space-xs);

    &-img-container {
      width: 1.6rem;
      height: 1.6rem;
    }

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: var(--size-secondary-text);
      font-weight: var(--weight-400);
    }

    svg {
      cursor: pointer;
      flex-shrink: 0;
    }
  }

  &__listbox {
    width: var(--auto-complete-width);
    margin: var(--space-xxs) 0 0;
    padding: var(--space-s);
    position: absolute;
    list-style: none;
    max-height: var(--auto-complete-menu-list-height);
    overflow: auto;
    border-radius: var(--radius-m);
     box-shadow: none;
     border: 1px solid var(--border-secondary);
    z-index: var(--zindex-l);
    background-color: var(--bg-container-1);
    color: var(--text-primary);

    li {
      padding: var(--space-m) var(--space-l);
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      span {
        flex-grow: 1;
      }

      svg {
        color: transparent;
      }
    }

    li[aria-selected="true"] {
      background-color: var(--bg-primary-x-subtle);
      font-weight: var(--weight-600);

      svg {
        color: var(--brand-primary);
      }
    }

    li.Mui-focused,
    li.Mui-focusVisible,
    li.hover {
      background-color: var(--bg-primary-x-subtle);
      border-radius: var(--radius-s);

      svg {
        color: currentColor;
      }
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
  }
}
