.userProfileInfoCard{
    display:flex;
    flex-direction:row;
    border-radius: var(--space-md);
    border: 1px solid var(--border-color-secondary);
    background-color: var(--bg-default);
    gap:.5rem;
    align-items:center;
    margin-left: var(--space-3xl);
    padding:var(--space-xs) var(--space-sm);
    cursor:pointer;
    transition: all .2s ease-in-out;
    &:hover{
        background-color: var(--bg-hover-gray-50);
    }
    background-color: var(bg-default);
    & .avatar{
        background-color: #CAC2FF;
        width:3.2rem;
        height:3.2rem;
        border-radius:50%;
    }
    & .userInfo{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:start;
     
        & .userInfo-name{
            font-size:1.5rem;
            font-weight:500;
            line-height: 2rem;
        }
        & .userInfo-role{
            font-size:1.5rem;
            color: var(--text-secondary);
            line-height: 2rem;
            font-weight: 500;
            
        }
    }
    .menubar-heading {
        font-size: 1.5rem;
    }
   
}
.userProfileInfoCardSelected {
    border: 1px solid var(--border-color-brand-primary);
}