@use "@/styles/mixins/mixins.scss" as *;

.assign-template-page-header {
  margin-bottom: var(--space-m);
  @include flex-center(space-between, center, var(--space-l));
  gap: var(--space-l);
  width: 100%;

  &__cursor-pointer {
    cursor: pointer;
  }
  &__back-icon {
    margin-right: var(--space-l);
    background-color: var(--logile-bg-container-1);
    padding: var(--space-m);
  }
  &__section {
    @include flex-center;
  }
}
