@use "@/styles/mixins/mixins.scss" as *;

.textarea {
  --helpertext-height: 26px;

  @include flex-box(column);

  .MuiOutlinedInput-root {
    min-height: var(--height-input);
    border-radius: var(--radius-s);
    padding: 0 var(--space-m);
  }
  .MuiOutlinedInput-input {
    font-size: var(--logile-size-body);
    padding: 0;
  }
  svg {
    height: var(--size-input-svg);
    width: var(--size-input-svg);
  }
  .MuiFormHelperText-root {
    margin: 0;
    @include helper-text;
  }
  &__label {
    @include form-label;
  }
  &--error {
    .textarea__label {
      @include form-label($required: false, $error: true);
    }
    .MuiFormHelperText-root.Mui-error {
      @include helper-text($error: true);
    }
  }
  &--inline-label {
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);
    &.textarea-with-helper-text {
      .textarea__label {
        margin-bottom: var(--helpertext-height);
      }
    }
    &.textarea--required {
      gap: var(--space-m);
    }
  }
  &--required {
    .textarea__label {
      @include form-label($required: true);
    }
  }
}
