/* TODO: Components in this file will be removed and shared form-element fields will be used */
@use "@/styles/mixins/mixins.scss" as *;

.c-textfield {
  @include flex-box(column);

  &__label {
    @include form-label;

    &--required {
      @include form-label($required: true);
    }
  }

  .MuiInputBase-input {
    padding: var(--space-m);
    border-radius: var(--radius-m);
    font-size: var(--logile-size-body);
    font-weight: var(--logile-weight-400);
    color: var(--logile-text-primary);
    background-color: var(--logile-bg-container-1);

    &::placeholder {
      color: var(--logile-text-tertiary);
      font-size: inherit;
      font-weight: inherit;
      opacity: unset;
    }
  }
}

.c-dropdown {
  @include flex-box(column);
  --common-dropdown-height: 36px;

  &__label {
    @include form-label;
  }
  &__label-required.c-dropdown__label-required::after {
    content: " *";
    color: var(--logile-text-state-violation);
  }
  &__input-field {
    padding: var(--space-m);
    height: var(--common-dropdown-height);
    background-color: var(--logile-bg-container-1);

    div.MuiSelect-select {
      padding: 0;
      padding-right: var(--space-xs);
      border-radius: var(--radius-m);
      font-size: var(--logile-size-body);
      font-weight: var(--logile-weight-400);
      color: var(--logile-text-primary);
    }
  }

  &__placeholder {
    color: var(--logile-text-tertiary);
    font-size: var(--logile-size-body);
    font-weight: var(--logile-weight-400);
  }
}

/* Dropdown options styling*/
div.MuiMenu-paper.c-dropdown__menu-paper {
  --menu-paper-height: 500px;

  overflow-y: auto;
  padding: var(--space-xs);
  max-height: var(--dropdown-menu-max-height);

  .MuiList-root {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .MuiMenuItem-root {
    font-size: var(--logile-size-body);
    font-weight: var(--logile-weight-400);
    padding: var(--space-s);
    border-radius: var(--radius-m);
    color: var(--logile-text-primary);
    min-height: fit-content;

    &:hover {
      background-color: var(--logile-bg-primary-x-subtle);
    }
  }
}

#c-dropdown__menu-paper--search-field {
  background: none;
  .MuiInputBase-root {
    padding: var(--space-m);
    gap: var(--space-m);
  }
  .MuiInputAdornment-root {
    margin: 0px;
  }
}
