@use "@/styles/mixins/mixins.scss" as *;

.trigger-card {
  --trigger-answer-width: 20%;
  --trigger-message-width: 20%;
  --trigger-recipients-width: 20%;

  @include flex-center(space-between, center);
  border-radius: var(--radius-m);
  border: 1px solid var(--logile-border-primary);
  padding: var(--space-l) var(--space-xl);

  &__title {
    color: var(--logile-text-secondary);
    font-size: var(--logile-size-secondary-text);
    line-height: var(--logile-line-height-secondary-text);
    display: flex;
    align-items: center;
    gap: var(--space-s);
  }
  &__content {
    @include flex-center(space-between, flex-start, var(--space-2xl));
    width: 85%;
    color: var(--logile-text-primary);
    font-size: var(--logile-size-body);
    line-height: var(--logile-line-height-body);

    &-condition {
      flex-shrink: 2;
      flex: 1;
      margin-right: auto;
    }
    &-question {
      flex-shrink: 1;
      flex: 1;
      margin-right: auto;
    }
    &-answer {
      flex-shrink: 1;
      width: var(--trigger-answer-width);
    }
    &-message {
      flex-shrink: 1;
      width: var(--trigger-message-width);
    }
    &-recipients {
      flex-shrink: 1;
      width: var(--trigger-recipients-width);
    }
  }
  &__actions {
    @include flex-center(center, center, var(--space-l));
  }
}
