@use "@/styles/mixins/mixins.scss" as *;

.question-section {
  --section-collapse-ques-width: 152px;
  --section-setting-popup-width: 180px;
  &__header {
    @include flex-center(space-between, center, var(--space-l));
    padding: 0 var(--space-l);
    width: 100%;
  }

  &__header-title {
    @include flex-center(flex-start, center, var(--space-m));
  }

  &__header-title-text {
    @include flex-center(center, center);
    color: var(--logile-text-white);
    font-weight: var(--logile-weight-500);
    font-size: var(--logile-size-body-large);
    border-radius: var(--radius-m) var(--radius-m) var(--radius-none)
      var(--radius-none);
    background: var(--logile-bg-surface);
    height: var(--size-9);
    padding: var(--space-s) var(--space-xl);
  }

  &__header-title-icon {
    @include flex-center(center, center);
    border-radius: var(--radius-m);
    padding: var(--space-s);
    cursor: pointer;
    border: 1px solid var(--logile-border-primary);
    &--active,
    &:hover {
      background: var(--logile-bg-primary-x-subtle);
      border: 1px solid var(--logile-border-brand-primary);
      color: var(--logile-icon-brand-primary);
    }
  }

  &__header-icon {
    cursor: pointer;
  }

  &__collapsed {
    @include flex-center(space-between, center, var(--space-m));
    border: 1px solid var(--logile-border-primary);
    border-radius: var(--radius-m);
    padding: var(--space-l);
    background: var(--logile-bg-container-1);
    width: 100%;
    box-shadow: var(--shadow-m-1-x) var(--shadow-m-1-y) var(--shadow-m-1-blur)
      var(--shadow-m-1-spread) rgba(0, 0, 0, 0.15);
    &--error {
      border: 1px solid var(--logile-border-state-violation);
    }
  }
  &__collapsed-content {
    @include flex-center(flex-start, center, var(--space-m));
    flex: 1;
    &--right {
      justify-content: flex-end;
    }
  }
  &__collapsed-content-title {
    @include flex-center(center, center);
    color: var(--logile-text-white);
    font-weight: var(--logile-weight-500);
    font-size: var(--logile-size-body-large);
    border-radius: var(--radius-m);
    background: var(--logile-bg-surface-x-bold);
    height: var(--size-9);
    padding: var(--space-s) var(--space-xl);
  }
  &__collapsed-content-dnd {
    cursor: grab;
  }
  &__collapsed-content-icon {
    @include flex-center(center, center);
    width: var(--size-9);
    height: var(--size-9);
    cursor: pointer;
  }
  &__collapsed-content-label {
    @include flex-center(center, center, var(--space-xs));
    min-width: var(--section-collapse-ques-width);
    height: var(--size-9);
    padding: var(--space-s) var(--space-l);
    margin: 0 var(--space-m);
    font-size: var(--logile-size-body);
    border-radius: var(--radius-m);
    border: 1px solid var(--logile-border-primary);
    background: var(--logile-bg-container-1);
  }
  &__questions-wrapper {
    border-radius: var(--radius-m);
    border: 1px solid var(--logile-border-primary);
    overflow: hidden;
    .ques-card-collapsed {
      border: none;
      border-radius: 0;
    }
  }
  &__questions-item {
    border-bottom: 1px solid var(--logile-border-primary);
    &:last-child {
      border-bottom: none;
    }
  }
  &__settings-menu {
    .MuiPaper-root {
      width: var("--section-setting-popup-width");
    }
  }
}
