@use "@/styles/mixins/mixins.scss" as *;

.ct-basic-info {
  @include placeholder-page;
  --basic-info-row-width: 440px;
  --basic-info-dropdown-width: 200px;
  --basic-info-row-width-desktop: 1036px;
  --basic-info-tags-width-desktop: 800px;

  gap: var(--space-3xl);
  padding: var(--space-xl);

  &__row {
    width: 100%;
    display: flex;
    gap: var(--space-4xl);
    &--desktop {
      @include flex-box(column);
    }
  }

  &__row-item {
    width: 100%;
    display: flex;
    flex-direction: column;

    .select-wrapper {
      width: var(--basic-info-dropdown-width);
    }
  }

  &__row-item-tags {
    &--desktop {
      width: var(--basic-info-tags-width-desktop);
    }
  }

  &__row-item-label {
    color: var(--logile-text-secondary);
    font-size: var(--logile-size-secondary-text);
    line-height: var(--logile-line-height-secondary-text);
  }

  &__row-item-tags-dropdown {
    .MuiOutlinedInput-root {
      padding-left: var(--space-s);
    }
    &--desktop {
      --dropdown-max-height-desktop: 220px;
      .MuiPaper-root,
      .MuiPaper-root-MuiPopover-paper {
        max-height: var(--dropdown-max-height-desktop);
      }
    }
  }

  &__row-first-item {
    width: var(--basic-info-row-width);
    &--desktop {
      width: var(--basic-info-row-width-desktop);
    }
  }

  &__dropdown-row {
    @include flex-center(start, center, var(--space-l));
  }

  &__dropdown-menu.ct-basic-info__dropdown-menu {
    width: var(--basic-info-dropdown-width);
  }

  .input-with-chip__content {
    gap: 0px;
  }

  &__label {
    width: fit-content;
    color: var(--logile-text-secondary);
    font-size: var(--logile-size-secondary-text);
    font-weight: var(--logile-weight-400);
    line-height: var(--logile-line-height-body-large);
  }
  &__label.required-icon::after {
    content: " *";
    color: var(--logile-text-state-violation);
  }
  &__label--error {
    color: var(--logile-text-state-violation);
  }

  &__attachment {
    @include flex-center(start, center, var(--space-l));
    flex-wrap: wrap;
    margin-bottom: var(--space-l);
    color: var(--logile-text-primary);
    font-size: var(--logile-size-secondary-text);

    &-item {
      @include flex-center(start, center, var(--space-l));
      padding-left: var(--space-l);
      border-radius: var(--radius-m);
      border: 1px solid var(--logile-border-primary);
      height: var(--size-9);

      &-delete {
        @include flex-center(start, center, var(--space-s));
        cursor: pointer;
        padding: var(--space-m);
        border-left: 1px solid var(--logile-border-primary);
      }
    }
  }
  &__error-text {
    color: var(--logile-text-state-violation);
    padding: var(--space-xs) var(--space-m);
    font-size: var(--logile-size-caption-large);
  }

  &__directory-dropdown-wrapper {
    @include flex-box($direction: row);
    gap: var(--space-s);
  }

  &__action-btn {
    @include flex-center(center, center, var(--space-xs));
    width: fit-content;
  }
}
