@use "@/styles/mixins/mixins.scss" as *;

.ct-question-card-expanded {
  --selection-min-width: 180px;
  --textfield-width: 70px;
  @include flex-box(column);
  gap: var(--space-s);
  border-radius: var(--radius-m);
  border: 1px solid var(--logile-border-primary);
  background: var(--logile-bg-container-1);
  box-shadow: var(--shadow-l-2-x) var(--shadow-l-2-y) var(--shadow-l-2-blur)
    var(--shadow-l-2-spread) var(--logile-utility-gray-1a);

  &__header {
    @include flex-center(space-between);
    padding: var(--space-l);
  }
  &__header-left-content {
    @include flex-center($gap: var(--space-m));
  }
  &__order-index {
    @include flex-center(center, center, var(--space-none));
    & p {
      color: var(--logile-text-primary);
      font-family: var(--logile-family-body-family);
      font-size: var(--logile-size-body);
      font-style: normal;
      font-weight: var(--logile-weight-500);
      line-height: var(--logile-line-height-body);
    }
    &.required::after {
      content: "*";
      color: var(--logile-text-state-violation-bold-subtle);
      display: inline-block;
    }
  }
  &__dnd {
    cursor: grab;
    @include flex-center($gap: 0);
  }
  &__badges {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    justify-content: end;
  }
  &__divider {
    @include flex-box(row);
    align-self: stretch;
    & span {
      display: block;
      width: 1px;
      height: 100%;
      background: var(--logile-border-secondary);
      border-right: 1px solid var(--logile-border-secondary);
    }
  }
  &__required-switch.MuiFormControlLabel-root {
    margin-left: 0;
    .MuiFormControlLabel-label {
      margin-right: var(--space-m);
      font-family: var(--logile-family-body-family);
      font-size: var(--logile-size-body);
      font-weight: var(--logile-weight-400);
      color: var(--logile-text-primary);
    }
  }
  &__header-right-content {
    @include flex-center($gap: var(--space-l));
  }
  &__actions-icons {
    @include flex-center($gap: var(--space-xl));
    & svg {
      cursor: pointer;
    }
  }

  &__tab-container {
    height: fit-content;
  }

  &__basic-tab-content {
    @include flex-box(column);
    gap: var(--space-l);
    padding: var(--space-2xl) var(--space-xl);
  }
  &__question-header {
    @include flex-box(row);
    gap: var(--space-l);
  }
  &__question-type-selection {
    min-width: var(--selection-min-width);
    width: 100%;
  }
  &__advance-tab-content {
    @include flex-box(column);
    gap: var(--space-l);
    padding: var(--space-2xl) var(--space-xl);
  }
  &__rich-text-editor {
    .textarea .MuiOutlinedInput-root {
      padding-top: var(--space-4xl);
    }
  }
  &__question-type-selection-container {
    @include flex-box(column);
    gap: var(--space-m);
  }
  &__long-input-fields {
    @include flex-center(space-between, center, var(--space-5xl));
  }
  &__long-input {
    label {
      color: var(--logile-text-secondary);
      font-size: var(--logile-size-secondary-text);
      font-weight: var(--logile-weight-400);
    }
    .MuiTextField-root {
      width: var(--textfield-width);
    }
  }
}
