@use "@/styles/mixins/mixins.scss" as *;

.ct-answer-option-setting-modal {
  --answer-options-width: 340px;
  --containers-height: 294px;
  --option-item-height: 44px;
  --badge-top-offset: -20px;
  --badge-left-offset: 4px;
  --badge-height: 20px;
  --badge-width: 16px;
  --answer-textfield-width: 202px;
  --input-field-width: 85px;
  --header-height: 64px;
  --containers-max-height: 436px;

  @include flex-box;
  border-top: 1px solid var(--logile-border-secondary);
  border-bottom: 1px solid var(--logile-border-secondary);
  width: 100%;
  &__left {
    width: var(--answer-options-width);
    border-right: 1px solid var(--logile-border-secondary);
    @include flex-box(column);
    align-items: center;
    &-header {
      height: var(--header-height);
      width: 100%;
      @include flex-center(space-between, center);
      border-bottom: 1px solid var(--logile-border-secondary);
      padding: var(--space-xl);
      &-title {
        font-size: var(--logile-size-body);
        font-weight: var(--logile-weight-500);
        color: var(--logile-text-primary);
      }
    }
  }
  &__left-content {
    @include flex-box(column);
    max-height: var(--containers-max-height);
    width: 100%;
    gap: var(--space-l);
    padding: var(--space-l) var(--space-xl);
    overflow: hidden;
    &-item {
      @include flex-center(space-between, center);
      height: var(--option-item-height);
      flex-shrink: 0;
      width: 100%;
      border-radius: var(--radius-m);
      border: 1px solid var(--logile-border-secondary);
      background: var(--logile-bg-container-1);
      padding: 0 var(--space-m);
      color: var(--logile-text-primary);

      &-draggable {
        @include flex-box;
        align-items: center;
        gap: var(--space-m);
        width: 85%;
        & > div {
          width: 100%;
        }
      }
      div.mac-truncate-text {
        max-width: 100%;
      }

      &--selected {
        border: 1px solid var(--logile-border-brand-primary);
        background: var(--logile-bg-primary-x-subtle);
      }

      &-default-label {
        color: var(--logile-text-tertiary);
      }

      &:hover {
        border: 1px solid var(--logile-border-brand-primary);
        cursor: pointer;
      }
    }
  }
  &__attachment-badge {
    & .MuiBadge-badge {
      height: var(--badge-height);
      width: var(--badge-width);
      border-radius: 100%;
      top: var(--badge-top-offset);
      left: var(--badge-left-offset);
      font-weight: var(--logile-weight-400);
      color: var(--logile-text-white);
      background: var(--logile-bg-state-information-bold);
      font-size: var(--logile-size-secondary-text);
      padding: var(--space-none);
    }
  }
  &__right {
    width: 100%;
    &-header {
      height: var(--header-height);
      width: 100%;
      @include flex-center(space-between, center);
      border-bottom: 1px solid var(--logile-border-secondary);
      padding: var(--space-xl);
      &-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: horizontal;
        overflow: hidden;
        font-size: var(--logile-size-body);
        font-weight: var(--logile-weight-500);
        color: var(--logile-text-primary);
      }
    }
  }
  &__right-content {
    height: fit-content;
    padding: var(--space-l) var(--space-xl);
    @include flex-box(column);
    gap: var(--space-3xl);
    &-form-group {
      @include flex-box;
      justify-content: space-between;
      gap: var(--space-xl);
    }
    &-form-item {
      width: 100%;
      @include flex-box;
      justify-content: space-between;
      &-textfield,
      &-select {
        width: var(--answer-textfield-width);
      }
      &-switch {
        @include flex-box(column);
      }
      &-label {
        color: var(--logile-text-primary);
        font-size: var(--logile-size-body);
        font-weight: var(--logile-weight-500);
      }
      &-additional-info {
        @include flex-box;
        gap: var(--space-3xl);
        justify-content: flex-start;
        .ct-input-type-modal__length-fields {
          @include flex-box;
          gap: var(--space-3xl);
        }
      }
    }
    &-form-group-2 {
      @include flex-box(column);
      gap: var(--space-l);
      &-item {
        width: 100%;
        @include flex-box;
        justify-content: space-between;
      }
    }
    &-form-item-formula-button
      .ct-answer-option-setting-modal__right-content-form-item-formula-button,
    .button-wrapper .button.icon-button {
      color: var(--logile-icon-brand-primary);
      padding: var(--space-none) var(--space-xs);
      height: fit-content;
    }
  }
}

.ct-answer-option-setting-modal__container {
  --custom-modal-width: 844px;
  width: var(--custom-modal-width);
}
