/* Alias */
:root {
  /* =========================
    Primary Colors
    ========================= */
  --logile-a-primary-50: var(--logile-contextual-primary-50);
  --logile-a-primary-100: var(--logile-contextual-primary-100);
  --logile-a-primary-200: var(--logile-contextual-primary-200);
  --logile-a-primary-300: var(--logile-contextual-primary-300);
  --logile-a-primary-400: var(--logile-contextual-primary-400);
  --logile-a-primary-500: var(--logile-contextual-primary-500);
  --logile-a-primary-600: var(--logile-contextual-primary-600);
  --logile-a-primary-700: var(--logile-contextual-primary-700);
  --logile-a-primary-800: var(--logile-contextual-primary-800);
  --logile-a-primary-900: var(--logile-contextual-primary-900);
  --logile-a-primary-950: var(--logile-contextual-primary-950);
  --logile-a-primary-1a: var(--logile-contextual-primary-1a);
  --logile-a-primary-2a: var(--logile-contextual-primary-2a);
  --logile-a-primary-3a: var(--logile-contextual-primary-3a);
  --logile-a-primary-4a: var(--logile-contextual-primary-4a);
  --logile-a-primary-5a: var(--logile-contextual-primary-5a);
  --logile-a-primary-6a: var(--logile-contextual-primary-6a);
  --logile-a-primary-7a: var(--logile-contextual-primary-7a);
  --logile-a-primary-8a: var(--logile-contextual-primary-8a);
  --logile-a-primary-9a: var(--logile-contextual-primary-9a);
  --logile-a-primary-10a: var(--logile-contextual-primary-10a);
  --logile-a-primary-11a: var(--logile-contextual-primary-11a);

  /* =========================
    Success Colors
    ========================= */
  --logile-a-success-50: var(--logile-contextual-success-50);
  --logile-a-success-100: var(--logile-contextual-success-100);
  --logile-a-success-200: var(--logile-contextual-success-200);
  --logile-a-success-300: var(--logile-contextual-success-300);
  --logile-a-success-400: var(--logile-contextual-success-400);
  --logile-a-success-500: var(--logile-contextual-success-500);
  --logile-a-success-600: var(--logile-contextual-success-600);
  --logile-a-success-700: var(--logile-contextual-success-700);
  --logile-a-success-800: var(--logile-contextual-success-800);
  --logile-a-success-900: var(--logile-contextual-success-900);
  --logile-a-success-950: var(--logile-contextual-success-950);
  --logile-a-success-1a: var(--logile-contextual-success-1a);
  --logile-a-success-2a: var(--logile-contextual-success-2a);
  --logile-a-success-3a: var(--logile-contextual-success-3a);
  --logile-a-success-4a: var(--logile-contextual-success-4a);
  --logile-a-success-5a: var(--logile-contextual-success-5a);
  --logile-a-success-6a: var(--logile-contextual-success-6a);
  --logile-a-success-7a: var(--logile-contextual-success-7a);
  --logile-a-success-8a: var(--logile-contextual-success-8a);
  --logile-a-success-9a: var(--logile-contextual-success-9a);
  --logile-a-success-10a: var(--logile-contextual-success-10a);
  --logile-a-success-11a: var(--logile-contextual-success-11a);

  /* =========================
    Warning Colors
    ========================= */
  --logile-a-warning-50: var(--logile-contextual-warning-50);
  --logile-a-warning-100: var(--logile-contextual-warning-100);
  --logile-a-warning-200: var(--logile-contextual-warning-200);
  --logile-a-warning-300: var(--logile-contextual-warning-300);
  --logile-a-warning-400: var(--logile-contextual-warning-400);
  --logile-a-warning-500: var(--logile-contextual-warning-500);
  --logile-a-warning-600: var(--logile-contextual-warning-600);
  --logile-a-warning-700: var(--logile-contextual-warning-700);
  --logile-a-warning-800: var(--logile-contextual-warning-800);
  --logile-a-warning-900: var(--logile-contextual-warning-900);
  --logile-a-warning-950: var(--logile-contextual-warning-950);
  --logile-a-warning-1a: var(--logile-contextual-warning-1a);
  --logile-a-warning-2a: var(--logile-contextual-warning-2a);
  --logile-a-warning-3a: var(--logile-contextual-warning-3a);
  --logile-a-warning-4a: var(--logile-contextual-warning-4a);
  --logile-a-warning-5a: var(--logile-contextual-warning-5a);
  --logile-a-warning-6a: var(--logile-contextual-warning-6a);
  --logile-a-warning-7a: var(--logile-contextual-warning-7a);
  --logile-a-warning-8a: var(--logile-contextual-warning-8a);
  --logile-a-warning-9a: var(--logile-contextual-warning-9a);
  --logile-a-warning-10a: var(--logile-contextual-warning-10a);
  --logile-a-warning-11a: var(--logile-contextual-warning-11a);

  /* =========================
    Error Colors
    ========================= */
  --logile-a-error-50: var(--logile-contextual-error-50);
  --logile-a-error-100: var(--logile-contextual-error-100);
  --logile-a-error-200: var(--logile-contextual-error-200);
  --logile-a-error-300: var(--logile-contextual-error-300);
  --logile-a-error-400: var(--logile-contextual-error-400);
  --logile-a-error-500: var(--logile-contextual-error-500);
  --logile-a-error-600: var(--logile-contextual-error-600);
  --logile-a-error-700: var(--logile-contextual-error-700);
  --logile-a-error-800: var(--logile-contextual-error-800);
  --logile-a-error-900: var(--logile-contextual-error-900);
  --logile-a-error-950: var(--logile-contextual-error-950);
  --logile-a-error-1a: var(--logile-contextual-error-1a);
  --logile-a-error-2a: var(--logile-contextual-error-2a);
  --logile-a-error-3a: var(--logile-contextual-error-3a);
  --logile-a-error-4a: var(--logile-contextual-error-4a);
  --logile-a-error-5a: var(--logile-contextual-error-5a);
  --logile-a-error-6a: var(--logile-contextual-error-6a);
  --logile-a-error-7a: var(--logile-contextual-error-7a);
  --logile-a-error-8a: var(--logile-contextual-error-8a);
  --logile-a-error-9a: var(--logile-contextual-error-9a);
  --logile-a-error-10a: var(--logile-contextual-error-10a);
  --logile-a-error-11a: var(--logile-contextual-error-11a);

  /* =========================
    Information Colors
    ========================= */
  --logile-a-information-50: var(--logile-contextual-information-50);
  --logile-a-information-100: var(--logile-contextual-information-100);
  --logile-a-information-200: var(--logile-contextual-information-200);
  --logile-a-information-300: var(--logile-contextual-information-300);
  --logile-a-information-400: var(--logile-contextual-information-400);
  --logile-a-information-500: var(--logile-contextual-information-500);
  --logile-a-information-600: var(--logile-contextual-information-600);
  --logile-a-information-700: var(--logile-contextual-information-700);
  --logile-a-information-800: var(--logile-contextual-information-800);
  --logile-a-information-900: var(--logile-contextual-information-900);
  --logile-a-information-950: var(--logile-contextual-information-950);
  --logile-a-information-1a: var(--logile-contextual-information-1a);
  --logile-a-information-2a: var(--logile-contextual-information-2a);
  --logile-a-information-3a: var(--logile-contextual-information-3a);
  --logile-a-information-4a: var(--logile-contextual-information-4a);
  --logile-a-information-5a: var(--logile-contextual-information-5a);
  --logile-a-information-6a: var(--logile-contextual-information-6a);
  --logile-a-information-7a: var(--logile-contextual-information-7a);
  --logile-a-information-8a: var(--logile-contextual-information-8a);
  --logile-a-information-9a: var(--logile-contextual-information-9a);
  --logile-a-information-10a: var(--logile-contextual-information-10a);
  --logile-a-information-11a: var(--logile-contextual-information-11a);

  /* =========================
    Neutral Colors
    ========================= */
  --logile-a-neutral-0: var(--logile-gray-light-0);
  --logile-a-neutral-50: var(--logile-gray-light-50);
  --logile-a-neutral-100: var(--logile-gray-light-100);
  --logile-a-neutral-200: var(--logile-gray-light-200);
  --logile-a-neutral-300: var(--logile-gray-light-300);
  --logile-a-neutral-400: var(--logile-gray-light-400);
  --logile-a-neutral-500: var(--logile-gray-light-500);
  --logile-a-neutral-600: var(--logile-gray-light-600);
  --logile-a-neutral-700: var(--logile-gray-light-700);
  --logile-a-neutral-800: var(--logile-gray-light-800);
  --logile-a-neutral-900: var(--logile-gray-light-900);
  --logile-a-neutral-950: var(--logile-gray-light-950);
  --logile-a-neutral-1000: var(--logile-gray-light-1000);
  --logile-a-neutral-0a: var(--logile-gray-light-0a);
  --logile-a-neutral-a: var(--logile-gray-light-a);
  --logile-a-neutral-1a: var(--logile-gray-light-1a);
  --logile-a-neutral-1a-a: var(--logile-gray-light-1a-a);
  --logile-a-neutral-2a: var(--logile-gray-light-2a);
  --logile-a-neutral-3a: var(--logile-gray-light-3a);
  --logile-a-neutral-4a: var(--logile-gray-light-4a);
  --logile-a-neutral-5a: var(--logile-gray-light-5a);
  --logile-a-neutral-6a: var(--logile-gray-light-6a);
  --logile-a-neutral-7a: var(--logile-gray-light-7a);
  --logile-a-neutral-8a: var(--logile-gray-light-8a);
  --logile-a-neutral-9a: var(--logile-gray-light-9a);
  --logile-a-neutral-10a: var(--logile-gray-light-10a);
  --logile-a-neutral-11a: var(--logile-gray-light-11a);

  /* =========================
    Dark Neutral Colors
    ========================= */
  --logile-a-dark-neutral-0: var(--logile-gray-dark-0);
  --logile-a-dark-neutral-50: var(--logile-gray-dark-50);
  --logile-a-dark-neutral-100: var(--logile-gray-dark-100);
  --logile-a-dark-neutral-200: var(--logile-gray-dark-200);
  --logile-a-dark-neutral-300: var(--logile-gray-dark-300);
  --logile-a-dark-neutral-400: var(--logile-gray-dark-400);
  --logile-a-dark-neutral-500: var(--logile-gray-dark-500);
  --logile-a-dark-neutral-600: var(--logile-gray-dark-600);
  --logile-a-dark-neutral-700: var(--logile-gray-dark-700);
  --logile-a-dark-neutral-800: var(--logile-gray-dark-800);
  --logile-a-dark-neutral-900: var(--logile-gray-dark-900);
  --logile-a-dark-neutral-950: var(--logile-gray-dark-950);
  --logile-a-dark-neutral-1000: var(--logile-gray-dark-1000);
  --logile-a-dark-neutral-0a: var(--logile-gray-dark-0a);
  --logile-a-dark-neutral-a: var(--logile-gray-dark-a);
  --logile-a-dark-neutral-1a: var(--logile-gray-dark-1a);
  --logile-a-dark-neutral-1a-a: var(--logile-gray-dark-1a-a);
  --logile-a-dark-neutral-2a: var(--logile-gray-dark-2a);
  --logile-a-dark-neutral-3a: var(--logile-gray-dark-3a);
  --logile-a-dark-neutral-4a: var(--logile-gray-dark-4a);
  --logile-a-dark-neutral-5a: var(--logile-gray-dark-5a);
  --logile-a-dark-neutral-6a: var(--logile-gray-dark-6a);
  --logile-a-dark-neutral-7a: var(--logile-gray-dark-7a);
  --logile-a-dark-neutral-8a: var(--logile-gray-dark-8a);
  --logile-a-dark-neutral-9a: var(--logile-gray-dark-9a);
  --logile-a-dark-neutral-10a: var(--logile-gray-dark-10a);
  --logile-a-dark-neutral-11a: var(--logile-gray-dark-11a);

  /* =========================
        Yellow Colors
        ========================= */
  --logile-a-yellow-50: var(--logile-yellow-50);
  --logile-a-yellow-100: var(--logile-yellow-100);
  --logile-a-yellow-200: var(--logile-yellow-200);
  --logile-a-yellow-300: var(--logile-yellow-300);
  --logile-a-yellow-400: var(--logile-yellow-400);
  --logile-a-yellow-500: var(--logile-yellow-500);
  --logile-a-yellow-600: var(--logile-yellow-600);
  --logile-a-yellow-700: var(--logile-yellow-700);
  --logile-a-yellow-800: var(--logile-yellow-800);
  --logile-a-yellow-900: var(--logile-yellow-900);
  --logile-a-yellow-950: var(--logile-yellow-950);
  --logile-a-yellow-1a: var(--logile-yellow-1a);
  --logile-a-yellow-2a: var(--logile-yellow-2a);
  --logile-a-yellow-3a: var(--logile-yellow-3a);
  --logile-a-yellow-4a: var(--logile-yellow-4a);
  --logile-a-yellow-5a: var(--logile-yellow-5a);
  --logile-a-yellow-6a: var(--logile-yellow-6a);
  --logile-a-yellow-7a: var(--logile-yellow-7a);
  --logile-a-yellow-8a: var(--logile-yellow-8a);
  --logile-a-yellow-9a: var(--logile-yellow-9a);
  --logile-a-yellow-10a: var(--logile-yellow-10a);
  --logile-a-yellow-11a: var(--logile-yellow-11a);

  /* =========================
    Violet Colors
    ========================= */
  --logile-a-violet-50: var(--logile-violet-50);
  --logile-a-violet-100: var(--logile-violet-100);
  --logile-a-violet-200: var(--logile-violet-200);
  --logile-a-violet-300: var(--logile-violet-300);
  --logile-a-violet-400: var(--logile-violet-400);
  --logile-a-violet-500: var(--logile-violet-500);
  --logile-a-violet-600: var(--logile-violet-600);
  --logile-a-violet-700: var(--logile-violet-700);
  --logile-a-violet-800: var(--logile-violet-800);
  --logile-a-violet-900: var(--logile-violet-900);
  --logile-a-violet-950: var(--logile-violet-950);
  --logile-a-violet-1a: var(--logile-violet-1a);
  --logile-a-violet-2a: var(--logile-violet-2a);
  --logile-a-violet-3a: var(--logile-violet-3a);
  --logile-a-violet-4a: var(--logile-violet-4a);
  --logile-a-violet-5a: var(--logile-violet-5a);
  --logile-a-violet-6a: var(--logile-violet-6a);
  --logile-a-violet-7a: var(--logile-violet-7a);
  --logile-a-violet-8a: var(--logile-violet-8a);
  --logile-a-violet-9a: var(--logile-violet-9a);
  --logile-a-violet-10a: var(--logile-violet-10a);
  --logile-a-violet-11a: var(--logile-violet-11a);

  /* =========================
        Pink Colors
        ========================= */
  --logile-a-pink-50: var(--logile-fuchsia-50);
  --logile-a-pink-100: var(--logile-fuchsia-100);
  --logile-a-pink-200: var(--logile-fuchsia-200);
  --logile-a-pink-300: var(--logile-fuchsia-300);
  --logile-a-pink-400: var(--logile-fuchsia-400);
  --logile-a-pink-500: var(--logile-fuchsia-500);
  --logile-a-pink-600: var(--logile-fuchsia-600);
  --logile-a-pink-700: var(--logile-fuchsia-700);
  --logile-a-pink-800: var(--logile-fuchsia-800);
  --logile-a-pink-900: var(--logile-fuchsia-900);
  --logile-a-pink-950: var(--logile-fuchsia-950);
  --logile-a-pink-1a: var(--logile-fuchsia-1a);
  --logile-a-pink-2a: var(--logile-fuchsia-2a);
  --logile-a-pink-3a: var(--logile-fuchsia-3a);
  --logile-a-pink-4a: var(--logile-fuchsia-4a);
  --logile-a-pink-5a: var(--logile-fuchsia-5a);
  --logile-a-pink-6a: var(--logile-fuchsia-6a);
  --logile-a-pink-7a: var(--logile-fuchsia-7a);
  --logile-a-pink-8a: var(--logile-fuchsia-8a);
  --logile-a-pink-9a: var(--logile-fuchsia-9a);
  --logile-a-pink-10a: var(--logile-fuchsia-10a);
  --logile-a-pink-11a: var(--logile-fuchsia-11a);

  /* =========================
        Teal Colors
        ========================= */
  --logile-a-teal-50: var(--logile-teal-50);
  --logile-a-teal-100: var(--logile-teal-100);
  --logile-a-teal-200: var(--logile-teal-200);
  --logile-a-teal-300: var(--logile-teal-300);
  --logile-a-teal-400: var(--logile-teal-400);
  --logile-a-teal-500: var(--logile-teal-500);
  --logile-a-teal-600: var(--logile-teal-600);
  --logile-a-teal-700: var(--logile-teal-700);
  --logile-a-teal-800: var(--logile-teal-800);
  --logile-a-teal-900: var(--logile-teal-900);
  --logile-a-teal-950: var(--logile-teal-950);
  --logile-a-teal-1a: var(--logile-teal-1a);
  --logile-a-teal-2a: var(--logile-teal-2a);
  --logile-a-teal-3a: var(--logile-teal-3a);
  --logile-a-teal-4a: var(--logile-teal-4a);
  --logile-a-teal-5a: var(--logile-teal-5a);
  --logile-a-teal-6a: var(--logile-teal-6a);
  --logile-a-teal-7a: var(--logile-teal-7a);
  --logile-a-teal-8a: var(--logile-teal-8a);
  --logile-a-teal-9a: var(--logile-teal-9a);
  --logile-a-teal-10a: var(--logile-teal-10a);
  --logile-a-teal-11a: var(--logile-teal-11a);

  /* =========================
        Green Colors
        ========================= */
  --logile-a-green-50: var(--logile-green-50);
  --logile-a-green-100: var(--logile-green-100);
  --logile-a-green-200: var(--logile-green-200);
  --logile-a-green-300: var(--logile-green-300);
  --logile-a-green-400: var(--logile-green-400);
  --logile-a-green-500: var(--logile-green-500);
  --logile-a-green-600: var(--logile-green-600);
  --logile-a-green-700: var(--logile-green-700);
  --logile-a-green-800: var(--logile-green-800);
  --logile-a-green-900: var(--logile-green-900);
  --logile-a-green-950: var(--logile-green-950);
  --logile-a-green-1a: var(--logile-green-1a);
  --logile-a-green-2a: var(--logile-green-2a);
  --logile-a-green-3a: var(--logile-green-3a);
  --logile-a-green-4a: var(--logile-green-4a);
  --logile-a-green-5a: var(--logile-green-5a);
  --logile-a-green-6a: var(--logile-green-6a);
  --logile-a-green-7a: var(--logile-green-7a);
  --logile-a-green-8a: var(--logile-green-8a);
  --logile-a-green-9a: var(--logile-green-9a);
  --logile-a-green-10a: var(--logile-green-10a);
  --logile-a-green-11a: var(--logile-green-11a);

  /* =========================
        Blue Colors
        ========================= */
  --logile-a-blue-25: var(--logile-blue-25);
  --logile-a-blue-50: var(--logile-blue-50);
  --logile-a-blue-100: var(--logile-blue-100);
  --logile-a-blue-200: var(--logile-blue-200);
  --logile-a-blue-300: var(--logile-blue-300);
  --logile-a-blue-400: var(--logile-blue-400);
  --logile-a-blue-500: var(--logile-blue-500);
  --logile-a-blue-600: var(--logile-blue-600);
  --logile-a-blue-700: var(--logile-blue-700);
  --logile-a-blue-800: var(--logile-blue-800);
  --logile-a-blue-900: var(--logile-blue-900);
  --logile-a-blue-950: var(--logile-blue-950);
  --logile-a-blue-1a: var(--logile-blue-1a);
  --logile-a-blue-2a: var(--logile-blue-2a);
  --logile-a-blue-3a: var(--logile-blue-3a);
  --logile-a-blue-4a: var(--logile-blue-4a);
  --logile-a-blue-5a: var(--logile-blue-5a);
  --logile-a-blue-6a: var(--logile-blue-6a);
  --logile-a-blue-7a: var(--logile-blue-7a);
  --logile-a-blue-8a: var(--logile-blue-8a);
  --logile-a-blue-9a: var(--logile-blue-9a);
  --logile-a-blue-10a: var(--logile-blue-10a);
  --logile-a-blue-11a: var(--logile-blue-11a);

  /* =========================
        Alternative Blue Colors
        ========================= */
  --logile-a-blue-alt-50: var(--logile-blue-ribbon-50);
  --logile-a-blue-alt-100: var(--logile-blue-ribbon-100);
  --logile-a-blue-alt-200: var(--logile-blue-ribbon-200);
  --logile-a-blue-alt-300: var(--logile-blue-ribbon-300);
  --logile-a-blue-alt-400: var(--logile-blue-ribbon-400);
  --logile-a-blue-alt-500: var(--logile-blue-ribbon-500);
  --logile-a-blue-alt-600: var(--logile-blue-ribbon-600);
  --logile-a-blue-alt-700: var(--logile-blue-ribbon-700);
  --logile-a-blue-alt-800: var(--logile-blue-ribbon-800);
  --logile-a-blue-alt-900: var(--logile-blue-ribbon-900);
  --logile-a-blue-alt-950: var(--logile-blue-ribbon-950);
  --logile-a-blue-alt-1a: var(--logile-blue-ribbon-1a);
  --logile-a-blue-alt-2a: var(--logile-blue-ribbon-2a);
  --logile-a-blue-alt-3a: var(--logile-blue-ribbon-3a);
  --logile-a-blue-alt-4a: var(--logile-blue-ribbon-4a);
  --logile-a-blue-alt-5a: var(--logile-blue-ribbon-5a);
  --logile-a-blue-alt-6a: var(--logile-blue-ribbon-6a);
  --logile-a-blue-alt-7a: var(--logile-blue-ribbon-7a);
  --logile-a-blue-alt-8a: var(--logile-blue-ribbon-8a);
  --logile-a-blue-alt-9a: var(--logile-blue-ribbon-9a);
  --logile-a-blue-alt-10a: var(--logile-blue-ribbon-10a);
  --logile-a-blue-alt-11a: var(--logile-blue-ribbon-11a);

  /* =========================
        Orange Colors
        ========================= */
  --logile-a-orange-50: var(--logile-orange-50);
  --logile-a-orange-100: var(--logile-orange-100);
  --logile-a-orange-200: var(--logile-utility-yellow-200);
  --logile-a-orange-300: var(--logile-orange-300);
  --logile-a-orange-400: var(--logile-orange-400);
  --logile-a-orange-500: var(--logile-orange-500);
  --logile-a-orange-600: var(--logile-orange-600);
  --logile-a-orange-700: var(--logile-orange-700);
  --logile-a-orange-800: var(--logile-orange-800);
  --logile-a-orange-900: var(--logile-orange-900);
  --logile-a-orange-950: var(--logile-orange-950);
  --logile-a-orange-1a: var(--logile-orange-1a);
  --logile-a-orange-2a: var(--logile-orange-2a);
  --logile-a-orange-3a: var(--logile-orange-3a);
  --logile-a-orange-4a: var(--logile-orange-4a);
  --logile-a-orange-5a: var(--logile-orange-5a);
  --logile-a-orange-6a: var(--logile-orange-6a);
  --logile-a-orange-7a: var(--logile-orange-7a);
  --logile-a-orange-8a: var(--logile-orange-8a);
  --logile-a-orange-9a: var(--logile-orange-9a);
  --logile-a-orange-10a: var(--logile-orange-10a);
  --logile-a-orange-11a: var(--logile-orange-11a);

  /* =========================
        Red Colors
        ========================= */
  --logile-a-red-50: var(--logile-red-50);
  --logile-a-red-100: var(--logile-red-100);
  --logile-a-red-200: var(--logile-red-200);
  --logile-a-red-300: var(--logile-red-300);
  --logile-a-red-400: var(--logile-red-400);
  --logile-a-red-500: var(--logile-red-500);
  --logile-a-red-600: var(--logile-red-600);
  --logile-a-red-700: var(--logile-red-700);
  --logile-a-red-800: var(--logile-red-800);
  --logile-a-red-900: var(--logile-red-900);
  --logile-a-red-950: var(--logile-red-950);
  --logile-a-red-1a: var(--logile-red-1a);
  --logile-a-red-2a: var(--logile-red-2a);
  --logile-a-red-3a: var(--logile-red-3a);
  --logile-a-red-4a: var(--logile-red-4a);
  --logile-a-red-5a: var(--logile-red-5a);
  --logile-a-red-6a: var(--logile-red-6a);
  --logile-a-red-7a: var(--logile-red-7a);
  --logile-a-red-8a: var(--logile-red-8a);
  --logile-a-red-9a: var(--logile-red-9a);
  --logile-a-red-10a: var(--logile-red-10a);
  --logile-a-red-11a: var(--logile-red-11a);
}
