:root {
  --appbar-height: 50px;
  --app-content-height: calc(100vh - var(--appbar-height));
  --pagetemplate-bottom-margin: var(--space-xl);
  --pagetemplate-content-height: calc(
    var(--pagetemplate-bottom-margin) - var(--app-content-height)
  );
  --sidebar-width: 80px;
  --sidebar-width-expanded: 280px;
  --gap-r: var(--space-2xl);
  --page-template-header: 50px;
  --dropdown-menu-max-height: 408px;
}
