
:root {
        // Base
        --base-white: #FFFFFF;
        --base-black: #000000;

        // Blue
        --blue-50: #E4EFFE;
        --blue-100: #C9E0FD;
        --blue-200: #93C1FA;
        --blue-300: #5EA3F8;
        --blue-400: #2884F5;
        --blue-500: #0A68DB;
        --blue-600: #0858B9;
        --blue-700: #074897;
        --blue-800: #053066;
        --blue-900: #031E3F;
        --blue-950: #02152B;
        --blue-1a: #0A68DB1A;
        --blue-2a: #0A68DB26;
        --blue-3a: #0A68DB33;
        --blue-4a: #0A68DB40;
        --blue-5a: #0A68DB4D;
        --blue-6a: #0A68DB66;
        --blue-7a: #0A68DB80;
        --blue-8a: #0A68DB99;
        --blue-9a: #0A68DBB2;
        --blue-10a: #0A68DBCC;
        --blue-11a: #0A68DBE5;

        //Gray
        --gray-50: #F6F6F6;
        --gray-100: #E7E7E7;
        --gray-200: #DCDCDC;
        --gray-300: #C1C1C1;
        --gray-400: #888888;
        --gray-500: #6D6D6D;
        --gray-600: #5C5C5C;
        --gray-700: #4F4F4F;
        --gray-800: #454545;
        --gray-900: #333333;
        --gray-950: #262626;

        --gray-0a: #33333300;
        --gray-a: #3333330D;
        --gray-1a: #3333331A;
        --gray-1a-a: #3333331F;
        --gray-2a: #33333326;
        --gray-3a: #33333333;
        --gray-4a: #33333340;
        --gray-5a: #3333334D;
        --gray-6a: #33333366;
        --gray-7a: #33333380;
        --gray-8a: #33333399;
        --gray-9a: #333333B2;
        --gray-10a: #333333CC;
        --gray-11a: #333333E5;

        // Orange
        --orange-50: #FFFCEA;
        --orange-100: #FFF5C5;
        --orange-200: #FFEB85;
        --orange-300: #FFDA46;
        --orange-400: #FFC71B;
        --orange-500: #FFA500;
        --orange-600: #E27C00;
        --orange-700: #BB5502;
        --orange-800: #984208;
        --orange-900: #7C360B;
        --orange-950: #481A00;

        --orange-1a: #FFA5001A;
        --orange-2a: #FFA50026;
        --orange-3a: #FFA50033;
        --orange-4a: #FFA50040;
        --orange-5a: #FFA5004D;
        --orange-6a: #FFA50066;
        --orange-7a: #FFA50080;
        --orange-8a: #FFA50099;
        --orange-9a: #FFA500B2;
        --orange-10a: #FFA500CC;
        --orange-11a: #FFA500E5;

        //Red
        --red-50: #FEF3F2;
        --red-100: #FFE3E1;
        --red-200: #FFCCC8;
        --red-300: #FFA8A2;
        --red-400: #FC776D;
        --red-500: #F44336;
        --red-600: #E22D20;
        --red-700: #BE2217;
        --red-800: #9D2017;
        --red-900: #82211A;
        --red-950: #470C08;

        --red-1a: #F443361A;
        --red-2a: #F4433626;
        --red-3a: #F4433633;
        --red-4a: #F4433640;
        --red-5a: #F443364D;
        --red-6a: #F4433666;
        --red-7a: #F4433680;
        --red-8a: #F4433699;
        --red-9a: #F44336B2;
        --red-10a: #F44336CC;
        --red-11a: #F44336E5;


        //Green
        --green-50: #E6F5E6;
        --green-100: #CCEBCC;
        --green-200: #99D799;
        --green-300: #66C366;
        --green-400: #33AF33;
        --green-500: #009B00;
        --green-600: #008200;
        --green-700: #006800;
        --green-800: #004E00;
        --green-900: #003500;
        --green-950: #002800;

        --green-1a: #009B001A;
        --green-2a: #009B0026;
        --green-3a: #009B0033;
        --green-4a: #009B0040;
        --green-5a: #009B004D;
        --green-6a: #009B0066;
        --green-7a: #009B0080;
        --green-8a: #009B0099;
        --green-9a: #009B00B2;
        --green-10a: #009B00CC;
        --green-11a: #009B00E5;


        //Masala
        --masala-50: #EDECEC;
        --masala-100: #DADADA;
        --masala-200: #B6B5B4;
        --masala-300: #918F8F;
        --masala-400: #6D6A69;
        --masala-500: #484544;
        --masala-600: #3A3736;
        --masala-700: #2B2929;
        --masala-800: #1D1C1B;
        --masala-900: #191817;
        --masala-950: #0E0E0E;

        --masala-1a: #4845441A;
        --masala-2a: #48454426;
        --masala-3a: #48454433;
        --masala-4a: #48454440;
        --masala-5a: #4845444D;
        --masala-6a: #48454466;
        --masala-7a: #48454480;
        --masala-8a: #48454499;
        --masala-9a: #484544B2;
        --masala-10a: #484544CC;
        --masala-11a: #484544E5;

        //white
        --white-0: #FFFFFF;
        --white-0a: #FFFFFF00;
        --white-a: #FFFFFF0D;
        --white-1a: #FFFFFF1A;
        --white-1a-a: #FFFFFF1F;
        --white-2a: #FFFFFF26;
        --white-3a: #FFFFFF33;
        --white-4a: #FFFFFF40;
        --white-5a: #FFFFFF4D;
        --white-6a: #FFFFFF66;
        --white-7a: #FFFFFF80;
        --white-8a: #FFFFFF99;
        --white-9a: #FFFFFFB2;
        --white-10a: #FFFFFFCC;
        --white-11a: #FFFFFFE5;


        //Other Colors
        --artboard-background-light: #F4F5FA;
        --artboard-background-dark: #191817;
        --card-hover: #FAFAFA;
        --navbar-icon: #6C6C6C;
        --purple: #C500D4;
        --brown: #C27500;
        --dark-red: #D10000;
        --dark-red-bg: #F8D9D9;
        --orange-1: #FD6104;
        --indigo: #7000EC;
        --purple-light: #F9E5FB;
        --brown-light: #FFF0DA;
        --dark-red-light: #FDF2F2;
        --orange-light: #FFF2D9;
        --indigo-light: #F0E5FD;
        --calendar-disable: #AAAAAA;
        --drak-brown: #885406;
        --orange-1: #E69500;
        --nevy-blue: #1233C1;
        --dark-green: #009B00;
        --light-purple: #A997DF;
        --punch-in: #11CA11;
        --punch-in-bg: #F2FFF2;
        --punch-out: #D10000;
        --punch-out-bg: #FFF6F5;
        --meal-breat-other: #E69500;
        --meal-breat-other-bg: #FFF8F2;
        --transition: #2482F5;
        --transition-bg: #F2F7FD;
        --row: #F7FAFE;
        --total: #E6EFFC;
        --acc-open: #FAFAFA;

        // Yellow
        --yellow-lighter: #FEF7EC;
        --yellow-light: #FBDFB1;
        --yellow-base: #F2AE40;
        --yellow-dark: #B47818;
        --yellow-darker: #693D11;

        // Purple
        --purple-lighter: #EEEBFF;
        --purple-light: #CAC2FF;
        --purple-base: #6E3FF3;
        --purple-base-sub-dark: #7757FB;
        --purple-dark: #5A36BF;
        --purple-darker: #2B1664;

        // Pink
        --pink-lighter: #FDEBFF;
        --pink-light: #F9C2FF;
        --pink-base: #E255F2;
        --pink-dark: #9C23A9;
        --pink-darker: #620F6C;

        // Teal
        --teal-lighter: #EBFAFF;
        --teal-light: #C2EFFF;
        --teal-base: #35B9E9;
        --teal-dark: #1F87AD;
        --teal-darker: #164564;
}

