:root{
        --blue-50: #E4EFFE;
        --blue-100: #C9E0FD;
        --blue-200: #93C1FA;
        --blue-300: #5EA3F8;
        --blue-400: #2884F5;
        --blue-500: #0A68DB;
        --blue-600: #0858B9;
        --blue-700: #074897;
        --blue-800: #053066;
        --blue-900: #031E3F;
        --blue-950: #02152B;
        --blue-1a: rgba(var(--blue-500) / .10);
        --blue-2a: rgba(var(--blue-500) / .15);
        --blue-3a: rgba(var(--blue-500) / .20);
        --blue-4a: rgba(var(--blue-500) / .25);
        --blue-5a: rgba(var(--blue-500) / .30);
        --blue-6a: rgba(var(--blue-500) / .40);
        --blue-7a: rgba(var(--blue-500) / .50);
        --blue-8a: rgba(var(--blue-500) / .60);
        --blue-9a: rgba(var(--blue-500) / .70);
        --blue-10a: rgba(var(--blue-500) / .80);
        --blue-11a: rgba(var(--blue-500) / .90);

        //Gray
        --gray-50: #F6F6F6;
        --gray-100: #E7E7E7;
        --gray-200: #DCDCDC;
        --gray-300: #C1C1C1;
        --gray-400: #888888;
        --gray-500: #6D6D6D;
        --gray-600: #5C5C5C;
        --gray-700: #4F4F4F;
        --gray-800: #454545;
        --gray-900: #333333;
        --gray-950: #262626;
        --gray-0a: rgba(var(--gray-900) /.01);
        --gray-a: rgba(var(--gray-900) /.05);
        --gray-1a: rgba(var(--gray-900) / .10);
        --gray-1a-a: rgba(var(--gray-900) / .12);
        --gray-2a: rgba(var(--gray-900) / .15);
        --gray-3a: rgba(var(--gray-900) / .20);
        --gray-4a: rgba(var(--gray-900) / .25);
        --gray-5a: rgba(var(--gray-900) / .30);
        --gray-6a: rgba(var(--gray-900) / .40);
        --gray-7a: rgba(var(--gray-900) / .50);
        --gray-8a: rgba(var(--gray-900) / .60);
        --gray-9a: rgba(var(--gray-900) / .70);
        --gray-10a: rgba(var(--gray-900) / .80);
        --gray-11a: rgba(var(--gray-900) / .90);
    

}
