/* module-colors - Mode 1 */
:root {
  --timesheet-punch-in: #008200ff;
  --timesheet-punch-in-bg: #0082001a;
  --timesheet-punch-out: #e22d20ff;
  --timesheet-punch-out-bg: #e22d201a;
  --timesheet-meal-break: #e27c00ff;
  --timesheet-meal-break-bg: #e27c001a;
  --timesheet-transition: #0858b9ff;
  --timesheet-transition-bg: #0858b91a;
  --ess-my-shift: #0858b9ff;
  --ess-my-shift-light: #0858b91a;
  --ess-actual-shift: #885406ff;
  --ess-actual-shift-light: #8854061a;
  --ess-available-shifts: #cc8400ff;
  --ess-available-shifts-light: #cc84001a;
  --ess-request: #008200ff;
  --ess-request-light: #0082001a;
  --ess-shared: #6e3ff3ff;
  --ess-shared-light: #6e3ff31a;
  --ess-holiday-benefit: #dae8faff;
  --ess-off-bg: #edededff;
  --ess-white-text: #ffffffff;
  --ess-holiday-benefit-text: #053066ff;
  --ess-off-text: #5c5c5cff;
  --food-safety-blue: #5ea3f8ff;
  --food-safety-green: #006800ff;
  --food-safety-light-green: #ccebccff;
  --food-safety-light-red: #ffe3e1ff;
  --food-safety-white: #ffffffff;
  --food-safety-light-orange: #ffa5001a;
}
