/* root colors - Mode 1 */
:root {
  --logile-base-white: #ffffffff;
  --logile-blue-25: #f4f5faff;
  --logile-base-black: #000000ff;
  --logile-blue-50: #e4effeff;
  --logile-blue-100: #c9e0fdff;
  --logile-blue-200: #93c1faff;
  --logile-blue-300: #5ea3f8ff;
  --logile-blue-400: #2884f5ff;
  --logile-blue-500: #0a68dbff;
  --logile-blue-600: #0858b9ff;
  --logile-blue-700: #074897ff;
  --logile-blue-800: #053066ff;
  --logile-blue-900: #031e3fff;
  --logile-blue-950: #02152bff;
  --logile-blue-1a: #0a68db1a;
  --logile-blue-2a: #0a68db26;
  --logile-blue-3a: #0a68db33;
  --logile-blue-4a: #0a68db40;
  --logile-blue-5a: #0a68db4d;
  --logile-blue-6a: #0a68db66;
  --logile-blue-7a: #0a68db80;
  --logile-blue-8a: #0a68db99;
  --logile-blue-9a: #0a68dbb2;
  --logile-blue-10a: #0a68dbcc;
  --logile-blue-11a: #0a68dbe5;
  --logile-orange-50: #fffceaff;
  --logile-orange-100: #fff5c5ff;
  --logile-orange-200: #ffeb85ff;
  --logile-orange-300: #ffda46ff;
  --logile-orange-400: #ffc71bff;
  --logile-orange-500: #ffa500ff;
  --logile-orange-600: #e27c00ff;
  --logile-orange-700: #bb5502ff;
  --logile-orange-800: #984208ff;
  --logile-orange-900: #7c360bff;
  --logile-orange-950: #481a00ff;
  --logile-orange-1a: #ffa5001a;
  --logile-orange-2a: #ffa50026;
  --logile-orange-3a: #ffa50033;
  --logile-orange-4a: #ffa50040;
  --logile-orange-5a: #ffa5004d;
  --logile-orange-6a: #ffa50066;
  --logile-orange-7a: #ffa50080;
  --logile-orange-8a: #ffa50099;
  --logile-orange-9a: #ffa500b2;
  --logile-orange-10a: #ffa500cc;
  --logile-orange-11a: #ffa500e5;
  --logile-red-50: #fef3f2ff;
  --logile-red-100: #ffe3e1ff;
  --logile-red-200: #ffccc8ff;
  --logile-red-300: #ffa8a2ff;
  --logile-red-400: #fc776dff;
  --logile-red-500: #f44336ff;
  --logile-red-600: #e22d20ff;
  --logile-red-700: #be2217ff;
  --logile-red-800: #9d2017ff;
  --logile-red-900: #82211aff;
  --logile-red-950: #470c08ff;
  --logile-red-1a: #f443361a;
  --logile-red-2a: #f4433626;
  --logile-red-3a: #f4433633;
  --logile-red-4a: #f4433640;
  --logile-red-5a: #f443364d;
  --logile-red-6a: #f4433666;
  --logile-red-7a: #f4433680;
  --logile-red-8a: #f4433699;
  --logile-red-9a: #f44336b2;
  --logile-red-10a: #f44336cc;
  --logile-red-11a: #f44336e5;
  --logile-green-50: #f3fcf1ff;
  --logile-green-100: #e1fadeff;
  --logile-green-200: #c5f3bfff;
  --logile-green-300: #96e88dff;
  --logile-green-400: #60d553ff;
  --logile-green-500: #3aba2cff;
  --logile-green-600: #2b9a1fff;
  --logile-green-700: #24791cff;
  --logile-green-800: #21601bff;
  --logile-green-900: #1c4f18ff;
  --logile-green-950: #0a2b08ff;
  --logile-green-1a: #3aba2c1a;
  --logile-green-2a: #3aba2c26;
  --logile-green-3a: #3aba2c33;
  --logile-green-4a: #3aba2c40;
  --logile-green-5a: #3aba2c4d;
  --logile-green-6a: #3aba2c66;
  --logile-green-7a: #3aba2c80;
  --logile-green-8a: #3aba2c99;
  --logile-green-9a: #3aba2cb2;
  --logile-green-10a: #3aba2ccc;
  --logile-green-11a: #009b00e5;
  --logile-blue-ribbon-50: #edf3ffff;
  --logile-blue-ribbon-100: #deeaffff;
  --logile-blue-ribbon-200: #c3d6ffff;
  --logile-blue-ribbon-300: #9ebaffff;
  --logile-blue-ribbon-400: #7893ffff;
  --logile-blue-ribbon-500: #4961fcff;
  --logile-blue-ribbon-600: #3943f2ff;
  --logile-blue-ribbon-700: #2c32d6ff;
  --logile-blue-ribbon-800: #272eacff;
  --logile-blue-ribbon-900: #272e88ff;
  --logile-blue-ribbon-950: #17194fff;
  --logile-blue-ribbon-1a: #4961fc1a;
  --logile-blue-ribbon-2a: #4961fc26;
  --logile-blue-ribbon-3a: #4961fc33;
  --logile-blue-ribbon-4a: #4961fc40;
  --logile-blue-ribbon-5a: #4961fc4d;
  --logile-blue-ribbon-6a: #4961fc66;
  --logile-blue-ribbon-7a: #4961fc80;
  --logile-blue-ribbon-8a: #4961fc99;
  --logile-blue-ribbon-9a: #4961fcb2;
  --logile-blue-ribbon-10a: #4961fccc;
  --logile-blue-ribbon-11a: #4961fce5;
  --logile-gray-light-0: #ffffffff;
  --logile-gray-light-50: #f6f6f6ff;
  --logile-gray-light-100: #e7e7e7ff;
  --logile-gray-light-200: #dcdcdcff;
  --logile-gray-light-300: #c1c1c1ff;
  --logile-gray-light-400: #888888ff;
  --logile-gray-light-500: #6d6d6dff;
  --logile-gray-light-600: #5c5c5cff;
  --logile-gray-light-700: #4f4f4fff;
  --logile-gray-light-800: #454545ff;
  --logile-gray-light-900: #333333ff;
  --logile-gray-light-950: #262626ff;
  --logile-gray-light-1000: #1f1f1fff;
  --logile-gray-light-0a: #33333300;
  --logile-gray-light-a: #3333330d;
  --logile-gray-light-1a: #3333331a;
  --logile-gray-light-1a-a: #3333331f;
  --logile-gray-light-2a: #33333326;
  --logile-gray-light-3a: #33333333;
  --logile-gray-light-4a: #33333340;
  --logile-gray-light-5a: #3333334d;
  --logile-gray-light-6a: #33333366;
  --logile-gray-light-7a: #33333380;
  --logile-gray-light-8a: #33333399;
  --logile-gray-light-9a: #333333b2;
  --logile-gray-light-10a: #333333cc;
  --logile-gray-light-11a: #333333e5;
  --logile-gray-dark-0: #000000ff;
  --logile-gray-dark-50: #0d0d0dff;
  --logile-gray-dark-100: #141414ff;
  --logile-gray-dark-200: #1c1c1cff;
  --logile-gray-dark-300: #262626ff;
  --logile-gray-dark-400: #333333ff;
  --logile-gray-dark-500: #454545ff;
  --logile-gray-dark-600: #5c5c5cff;
  --logile-gray-dark-700: #777777ff;
  --logile-gray-dark-800: #b0b0b0ff;
  --logile-gray-dark-900: #f6f6f6ff;
  --logile-gray-dark-950: #fafafaff;
  --logile-gray-dark-1000: #ffffffff;
  --logile-gray-dark-0a: #e0e0e000;
  --logile-gray-dark-a: #e0e0e00d;
  --logile-gray-dark-1a: #e0e0e01a;
  --logile-gray-dark-1a-a: #e0e0e01f;
  --logile-gray-dark-2a: #e0e0e026;
  --logile-gray-dark-3a: #e0e0e033;
  --logile-gray-dark-4a: #e0e0e040;
  --logile-gray-dark-5a: #e0e0e04d;
  --logile-gray-dark-6a: #e0e0e066;
  --logile-gray-dark-7a: #e0e0e080;
  --logile-gray-dark-8a: #e0e0e099;
  --logile-gray-dark-9a: #e0e0e0b2;
  --logile-gray-dark-10a: #e0e0e0cc;
  --logile-gray-dark-11a: #e0e0e0e5;
  --logile-white-0: var(--logile-base-white);
  --logile-white-0a: #ffffff00;
  --logile-white-a: #ffffff0d;
  --logile-white-1a: #ffffff1a;
  --logile-white-1a-a: #ffffff1f;
  --logile-white-2a: #ffffff26;
  --logile-white-3a: #ffffff33;
  --logile-white-4a: #ffffff40;
  --logile-white-5a: #ffffff4d;
  --logile-white-6a: #ffffff66;
  --logile-white-7a: #ffffff80;
  --logile-white-8a: #ffffff99;
  --logile-white-9a: #ffffffb2;
  --logile-white-10a: #ffffffcc;
  --logile-white-11a: #ffffffe5;
  --logile-yellow-50: #fef8ecff;
  --logile-violet-50: #f4f3ffff;
  --logile-violet-100: #ebe8ffff;
  --logile-violet-200: #d7d5ffff;
  --logile-violet-300: #bbb3ffff;
  --logile-violet-400: #9888fdff;
  --logile-violet-500: #7757fbff;
  --logile-violet-600: #6e3ff3ff;
  --logile-violet-700: #5823deff;
  --logile-violet-800: #491dbaff;
  --logile-violet-900: #3d1999ff;
  --logile-violet-950: #230d68ff;
  --logile-violet-1a: #7757fb1a;
  --logile-violet-2a: #7757fb26;
  --logile-violet-3a: #7757fb33;
  --logile-violet-4a: #7757fb40;
  --logile-violet-5a: #7757fb4d;
  --logile-violet-6a: #7757fb66;
  --logile-violet-7a: #7757fb80;
  --logile-violet-8a: #7757fb99;
  --logile-violet-9a: #7757fbb2;
  --logile-violet-10a: #7757fbcc;
  --logile-violet-11a: #7757fbe5;
  --logile-yellow-100: #fbeccaff;
  --logile-yellow-200: #f8d88fff;
  --logile-yellow-300: #f4bf55ff;
  --logile-yellow-400: #f2ae40ff;
  --logile-yellow-500: #ea8516ff;
  --logile-yellow-600: #cf6210ff;
  --logile-yellow-700: #ac4411ff;
  --logile-yellow-800: #8c3614ff;
  --logile-yellow-900: #732c14ff;
  --logile-yellow-950: #421506ff;
  --logile-yellow-1a: #ea85161a;
  --logile-yellow-2a: #ea851626;
  --logile-yellow-3a: #ea851633;
  --logile-yellow-4a: #ea851640;
  --logile-yellow-5a: #ea85164d;
  --logile-yellow-6a: #ea851666;
  --logile-yellow-7a: #ea851680;
  --logile-yellow-8a: #ea851699;
  --logile-yellow-9a: #ea8516b2;
  --logile-yellow-10a: #ea8516cc;
  --logile-yellow-11a: #ea8516e5;
  --logile-fuchsia-50: #fdf4ffff;
  --logile-teal-50: #f1fafeff;
  --logile-teal-100: #e2f3fcff;
  --logile-teal-200: #bfe7f8ff;
  --logile-teal-300: #86d4f3ff;
  --logile-teal-400: #35b9e9ff;
  --logile-teal-500: #1da7daff;
  --logile-teal-600: #1087b9ff;
  --logile-teal-700: #0e6c96ff;
  --logile-teal-800: #105a7cff;
  --logile-teal-900: #134b67ff;
  --logile-teal-950: #0c3045ff;
  --logile-teal-1a: #1da7da1a;
  --logile-teal-2a: #1da7da26;
  --logile-teal-3a: #1da7da33;
  --logile-teal-4a: #1da7da40;
  --logile-teal-5a: #1da7da4d;
  --logile-teal-6a: #1da7da66;
  --logile-teal-7a: #1da7da80;
  --logile-teal-8a: #1da7da99;
  --logile-teal-9a: #1da7dab2;
  --logile-teal-10a: #1da7dacc;
  --logile-teal-11a: #1da7dae5;
  --logile-fuchsia-100: #fbe8ffff;
  --logile-fuchsia-200: #f6d0feff;
  --logile-fuchsia-300: #f3aafdff;
  --logile-fuchsia-400: #ed78faff;
  --logile-fuchsia-500: #e255f2ff;
  --logile-fuchsia-600: #c624d5ff;
  --logile-fuchsia-700: #a71bb0ff;
  --logile-fuchsia-800: #8a1890ff;
  --logile-fuchsia-900: #741976ff;
  --logile-fuchsia-950: #4d034fff;
  --logile-fuchsia-1a: #e255f21a;
  --logile-fuchsia-2a: #e255f226;
  --logile-fuchsia-3a: #e255f233;
  --logile-fuchsia-4a: #e255f240;
  --logile-fuchsia-5a: #e255f24d;
  --logile-fuchsia-6a: #e255f266;
  --logile-fuchsia-7a: #e255f280;
  --logile-fuchsia-8a: #e255f299;
  --logile-fuchsia-9a: #e255f2b2;
  --logile-fuchsia-10a: #e255f2cc;
  --logile-fuchsia-11a: #e255f2e5;
}
