:root {
        --space-xs:.4rem;
        --space-sm:.6rem;
        --space-md:.8rem;
        --space-lg:1.2rem;
        --space-xl:1.6rem;
        --space-2xl:2rem;
        --space-3xl:2.4rem;
        --space-4xl:2.8rem;   
        --space-5xl:3.2rem;
        --space-6xl:3.6rem;
        --space-7xl:4rem;
        --space-8xl:4.4rem;
        --space-9xl:4.6rem;
        --space-10xl:5.28rem;
        --space-11xl:5.6rem;
}