/* 2. Spacing - Regular */
:root {
  --space-none: 0px;
  --space-3xs: 1px;
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-s: 6px;
  --space-m: 8px;
  --space-l: 12px;
  --space-xl: 16px;
  --space-2xl: 20px;
  --space-3xl: 24px;
  --space-4xl: 32px;
  --space-5xl: 40px;
  --space-6xl: 48px;
  --space-7xl: 64px;
  --space-8xl: 80px;
  --space-9xl: 96px;
  --space-10xl: 128px;
  --space-11xl: 160px;
}
