/* 8. Utility - Mode 1 */
:root {
  --size-0: 0px;
  --size-0-2: 2px;
  --size-1: 4px;
  --size-1-2: 6px;
  --size-2: 8px;
  --size-2-2: 10px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 20px;
  --size-6: 24px;
  --size-6-2: 26px;
  --size-7: 28px;
  --size-8: 30px;
  --size-8-2: 32px;
  --size-9: 36px;
  --size-10: 40px;
  --size-11: 44px;
  --size-12: 48px;
  --size-14: 56px;
  --size-15: 60px;
  --size-16: 64px;
  --size-18: 72px;
  --size-20: 80px;
  --size-22: 88px;
  --size-24: 96px;
  --size-26: 104px;
  --size-28: 112px;
  --size-32: 128px;
  --size-34: 136px;
  --size-36: 144px;
  --size-40: 160px;
  --size-44: 176px;
  --size-48: 192px;
  --size-56: 224px;
  --size-64: 256px;
  --size-80: 320px;
  --size-96: 384px;
  --size-120: 480px;
  --size-140: 560px;
  --size-160: 640px;
  --size-180: 720px;
  --size-192: 768px;
  --size-256: 1024px;
  --size-320: 1280px;
  --size-360: 1440px;
  --size-400: 1600px;
  --size-480: 1920px;
}
