:root {
  --zindex-negative: -1;
  --zindex-base: 1;
  --zindex-xs: 10;
  --zindex-s: 100;
  --zindex-m: 1000;
  --zindex-modal: 1200;
  --zindex-l: 2000;
  --zindex-xl: 3000;
  --zindex-2xl: 4000;
  --zindex-dropdown: 1300;
}
