@use "@/styles/mixins/mixins.scss" as *;

.template-library-export-menu-paper {
  --export-menu-min-width: 180px;
  --disabled-opacity: 0.2;
  border-radius: var(--radius-s);
  margin-top: var(--space-s);
  min-width: var(--export-menu-min-width);
  border: 1px solid var(--logile-border-secondary);
  color: var(--logile-text-primary);
  padding: var(--space-none);
  box-shadow: none;

  .MuiMenu-list {
    padding: 0;
  }

  .MuiMenuItem-root {
    font-size: var(--logile-size-body);
    font-weight: var(--logile-weight-400);
    color: var(--logile-text-primary);
    padding: var(--space-s) var(--space-l);

    .MuiSvgIcon-root {
      font-size: var(--logile-size-body-large);
      color: var(--logile-text-secondary);
      margin-right: var(--space-m);
    }

    &:focus,
    &:hover,
    &:active {
      background: transparent;
    }
  }
}

.MuiPaper-root.template-library-export-menu-paper--disabled {
  .template-library-export-menu__tools-item {
    opacity: var(--disabled-opacity);
  }
}
.template-library-export-menu {
  @include flex-box(column);
  gap: var(--space-s);

  &__title {
    font-size: var(--logile-size-body);
    font-weight: var(--logile-weight-400);
    color: var(--logile-text-primary);
  }

  &__tools-wrapper {
    @include flex-center(center, center, var(--space-m));
  }

  &__tools-item {
    @include flex-center(center, center, 0);
    flex-direction: column;
    background-color: var(--logile-bg-base);
    border-radius: var(--radius-s);
    border: var(--border-s) solid var(--logile-border-secondary);
    padding: var(--space-xs) var(--space-m);
  }

  &__tools-item-label.template-library-export-menu__tools-item-label {
    font-size: var(--logile-size-caption);
    font-weight: var(--logile-weight-400);
    color: var(--logile-text-primary);
  }
}
