@use "@/styles/mixins/mixins.scss" as *;

.advance-filter-content {
  --modifiedinlast-textfield-width: 260px;
  @include flex-box(column);
  gap: var(--space-2xl);
  width: 100%;
  padding: var(--space-l) var(--space-xl);

  &__modified-in-last {
    @include flex-center(start, center);
    gap: var(--space-xs);
    .textfield {
      width: max-content;
      .MuiFormControl-root {
        max-width: var(--modifiedinlast-textfield-width);
      }
    }
    &-days-label {
      display: block;
      @include form-label;
    }
  }
  &__fields-layout {
    @include flex-box(column);
    gap: var(--space-3xl);
    width: 100%;
  }
  &__group-1 {
    @include flex-box(column);
    gap: var(--space-3xl);
    margin-bottom: var(--space-xxl);
  }
  &__group-2 {
    @include flex-box(row);
    gap: var(--space-l);
    margin-bottom: var(--space-xxl);
    & > .select {
      max-width: 49%;
    }
  }
  &__group-3 {
    @include flex-center(start, stretch);
    gap: var(--space-l);
    margin-bottom: var(--space-xxl);
    & > .multi-select-with-chip {
      max-width: 49%;
    }
  }
  &__modified-wrapper {
    @include flex-center(start, center);
    gap: var(--space-xs);
  }
  &__action-btns {
    @include flex-center;
    gap: var(--space-l);
  }
  &--mobile {
    .advance-filter-content__fields-layout {
      gap: var(--space-xl);
      .advance-filter-content__group-1 {
        gap: var(--space-xl);
        @include flex-box(column);
      }
      .advance-filter-content__group-3,
      .advance-filter-content__group-2 {
        @include flex-box(column);
        gap: var(--space-xl);

        & > .select {
          max-width: 100%;
        }
      }
      .advance-filter-content__group-3 {
        & > .multi-select-with-chip {
          max-width: 100%;
        }
      }
    }
  }
}
