@use "@/styles/mixins/mixins.scss" as *;

.filter-suggestion-card {
  @include flex-center(space-between, center);
  padding: var(--space-xs) var(--space-m);
  border-radius: var(--radius-m);
  background: var(--logile-bg-container-1);
  gap: var(--space-m);
  cursor: pointer;
  &__details {
    @include flex-box(column);
    color: var(--logile-text-primary);
    &-template-path {
      color: var(--logile-text-secondary);
      font-size: var(--logile-size-secondary-text);
      line-height: var(--logile-line-height-secondary-text);
    }
    &-name {
      color: var(--logile-text-primary);
      font-size: var(--logile-size-body);
      line-height: var(--logile-line-height-body);
    }
    &-template-code {
      color: var(--logile-text-secondary);
      font-size: var(--logile-size-secondary-text);
      line-height: var(--logile-line-height-secondary-text);
    }
  }
  &__last-modified {
    @include flex-box(column);
    align-items: end;
    margin-left: auto;
    &-label {
      color: var(--logile-text-secondary);
      font-size: var(--logile-size-secondary-text);
      line-height: var(--logile-line-height-secondary-text);
    }
    &-date {
      color: var(--logile-text-primary);
      font-size: var(--logile-size-body);
      line-height: var(--logile-line-height-body);
    }
  }
  &__icon {
    margin-right: var(--space-s);
  }
  &:hover {
    background: var(--logile-bg-primary-x-subtle);
  }
}
