.template-search-modal {
  &.MuiPopper-root {
    margin-top: var(--space-m);
    z-index: var(--zindex-modal);
    border-radius: var(--radius-m);
    border: 1px solid var(--logile-border-secondary);
    background: var(--logile-bg-container-1);
    box-shadow: var(--shadow-m-1-x, 0) var(--shadow-m-1-y)
      var(--shadow-xl-2-blur) 0 rgba(0, 0, 0, 0.15);
  }
}
