.popper {
  background-color: var(--logile-bg-container-1);
  border-radius: var(--radius-m);
  overflow-y: auto;
  border: 1px solid var(--logile-border-secondary);
  max-height: var(--dropdown-menu-max-height);
}
