@use "@/styles/mixins/mixins.scss" as *;

.template-library {
  --directory-tree-width: 300px;
  --template-library-header-height: 52px;
  --template-library-container-height: calc(
    100% - var(--template-library-header-height) + 1px
  );
  /* 1px to compensate for divider */
  --max-template-searchbar-width: 800px;
  &--desktop {
    --directory-tree-width: 340px;
  }

  @include flex-box(column);
  height: 100%;
  border: 1px solid var(--logile-border-secondary);
  border-radius: var(--radius-m);
  border-top-right-radius: var(--space-none);
  border-bottom-right-radius: var(--space-none);

  & .template-library__header {
    @include flex-center(start);
    padding: var(--space-m) var(--space-xl);
    color: var(--logile-text-primary);

    .template-library__text {
      width: calc(var(--directory-tree-width) - var(--space-xl));
      font-size: var(--logile-size-secondary-heading);
      font-weight: var(--logile-weight-500);
      flex-shrink: 0;
    }

    .template-library__sub-text {
      font-size: var(--logile-size-secondary-heading);
      font-weight: var(--logile-weight-500);
      white-space: nowrap;
      margin-right: 1px;
    }

    .template-library__header-selected-count {
      width: 80%;
      height: 36px;
      @include flex-center(space-between, center);
      font-size: var(--logile-size-secondary-heading);
      font-weight: var(--logile-weight-500);
    }

    .template-library__label-wrapper {
      @include flex-center(start);
      gap: var(--space-m);
    }

    .template-library__inner-header {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      align-items: center;
      flex: 1;

      .template-search {
        width: 100%;
        max-width: 800px;
      }
    }

    .template-library__inner-header-text {
      font-size: var(--logile-size-secondary-heading);
      font-weight: var(--logile-weight-500);
      white-space: nowrap;
      margin-right: var(--space-xl);
    }

    .template-library__icon {
      height: 24px;
      transform: rotate(-90deg);
      cursor: pointer;
    }

    .template-library__icon-button {
      padding: 0;
      min-width: 0;
    }

    .template-library__searchbar {
      max-width: 505px;
      flex-grow: 1;
      min-width: 0;
    }
    .template-library__searchbar-field {
      .MuiOutlinedInput-root {
        border: 1px solid var(--logile-border-secondary);
      }
    }

    .template-library__border {
      border-bottom-width: var(--border-s);
    }
  }

  &__container {
    flex: 1;
    @include flex-box(var(--template-library-directoryTreePosition));
    overflow: hidden;
    height: var(--template-library-container-height);
  }

  &__table-wrapper {
    width: 100%;
    flex: 1;
    border-left: 1px solid var(--logile-border-secondary);
  }
  &__search-bar-container {
    padding: 0 var(--space-xl);
    min-width: 0;
    overflow: hidden;
    @include flex-center;
  }

  .flex-box {
    @include flex-center(start);
  }

  .gap-12 {
    gap: var(--space-l);
  }

  .ws-nowrap {
    white-space: nowrap;
  }

  .MuiButton-startIcon {
    margin: 0;
  }

  .more-options-button {
    padding: var(--space-s);
    min-width: auto;
  }

  & .directory-tree__container {
    width: var(--directory-tree-width);
    overflow: auto;
    max-height: calc(var(--app-content-height) - 5rem);
    color: var(--logile-text-primary);
    height: 100%;

    ul.MuiSimpleTreeView-root {
      padding: var(--space-lg) var(--space-xl);
      scrollbar-width: none;
    }
  }
  & .template-library__table {
    flex: 1;
    height: 100%;
  }
}

.template-library-table-container {
  height: 100%;
}

.template-delete__modal-body {
  padding: var(--space-l) 0;
  font-size: var(--logile-size-body);
  color: var(--logile-text-primary);
  > p:not(:first-child) {
    padding-top: var(--space-l);
  }
}

.template-library__import-modal {
  border-radius: var(--radius-m);
  border: 1px dashed var(--logile-border-secondary);
  font-size: var(--logile-size-body);
  color: var(--logile-text-primary);
  @include flex-center;
  @include flex-box(column);
  padding: var(--space-xl);
  min-height: 180px;
  gap: var(--space-xl);
}

[data-template-library-directoryTreePosition="left"]
  .template-library__table-wrapper {
  border-left: 1px solid var(--logile-border-secondary);
  border-right: none;
}
[data-template-library-directoryTreePosition="right"]
  .template-library__table-wrapper {
  border-left: none;
  border-right: 1px solid var(--logile-border-secondary);
}
