.shared-stepper {
  height: 100%;
  --stepper-steps-height: 50px;

  &__steps {
    padding: var(--space-l) var(--space-xl);
    border-bottom: 1px solid var(--logile-border-secondary);

    &--top-border {
      border-block: 1px solid var(--logile-border-secondary);
      background: var(--logile-bg-container-1);
    }
  }
  .MuiStepLabel-root {
    flex-direction: row-reverse;
    gap: var(--space-l);
  }

  &__steps-item {
    cursor: pointer;
    padding: 0px !important;
  }
  .MuiStepper-root {
    gap: var(--space-l);
  }
  .MuiStepLabel-iconContainer {
    padding: 0px;
  }

  .Mui-disabled {
    opacity: 0.6;
    cursor: not-allowed;
    color: var(--logile-text-secondary);
  }

  .shared-stepper__content {
    overflow-y: auto;
    height: calc(100% - var(--stepper-steps-height));
  }
}

/* Stepper Label */
.shared-stepper__label {
  font-size: var(--logile-size-body);
  font-weight: var(--logile-weight-400);
  color: var(--logile-text-secondary);

  .MuiStepLabel-labelContainer,
  .MuiStepLabel-label,
  .MuiStepLabel-label.Mui-completed,
  .MuiStepLabel-label.Mui-active {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }

  /* Stepper state: Active */
  &--active {
    color: var(--logile-text-brand-primary);
    font-size: var(--logile-size-body-large);
    font-weight: var(--weight-500);
    svg {
      fill: var(--logile-icon-secondary);
    }
  }

  /* Stepper state: Completed */
  &--completed {
    color: var(--logile-text-state-success-bold-subtle);
    svg {
      fill: var(--logile-icon-state-success-bold-subtle);
    }
  }

  /* Stepper state: Error */
  &--error {
    color: var(--logile-text-state-violation-bold-subtle);
    svg {
      fill: var(--logile-icon-secondary);
    }
  }
}
