@use "@/styles/mixins/mixins.scss" as *;

.ct-rows {
  @include placeholder-page;
  --card-placeholder-height: 100px;

  padding: var(--space-m) var(--space-xl);
  gap: var(--space-l);
  &__header-wrapper {
    @include flex-center(space-between, center, var(--space-l));
  }
  &__header.ct-rows__header {
    color: var(--logile-text-primary);
    font-size: var(--logile-size-secondary-heading);
    font-weight: var(--logile-weight-500);
  }
  &__all-rows-expand-container {
    display: flex;
    gap: var(--space-xl);
  }
  &__expanded-btn.ct-rows__expanded-btn {
    padding: var(--space-l) var(--space-xl);
    border-radius: var(--radius-m);
    border: 1px solid var(--logile-border-secondary);
    background: var(--logile-bg-container-1);
    color: var(--logile-icon-secondary);
    &--active {
      border: 1px solid var(--logile-border-state-disabled);
      background: var(--logile-bg-state-disabled-subtle);
      color: var(--logile-icon-state-disabled);
    }
  }
  &-cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    &__placeholder {
      border-radius: var(--radius-m);
      border: 1px dashed var(--logile-border-secondary);
      background: var(--logile-bg-container-1);
      height: var(--card-placeholder-height);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__placeholder-text.ct-rows-cards-wrapper__placeholder-text {
      color: var(--logile-text-tertiary);
      font-size: var(--logile-size-body);
      font-weight: var(--logile-weight-400);
    }
    &__action {
      display: flex;
      align-items: center;
      gap: var(--space-xl);
      &-item {
        display: flex;
        align-items: center;
        gap: var(--space-xs);
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      & > .sortable-item {
        padding: var(--space-m) 0;
      }
    }
  }
}
