@use "@/styles/mixins/mixins.scss" as *;

.ques-card-collapsed {
  display: flex;
  flex: 1;
  align-items: center;
  padding: var(--space-l);
  border-radius: var(--radius-m);
  border: 1px solid var(--logile-border-primary);
  background: var(--logile-bg-container-1);
  box-shadow: var(--shadow-l-2-x) var(--shadow-l-2-y) var(--shadow-l-2-blur)
    var(--shadow-l-2-spread) var(--logile-utility-gray-1a);

  &__label {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 20%;
    max-width: 50%;
    margin-left: var(--space-m);
    & p {
      color: var(--logile-text-primary);
      font-family: var(--logile-family-body-family);
      font-size: var(--logile-size-body);
      font-style: normal;
      margin: 0;
      font-weight: var(--logile-weight-400);
      line-height: var(--logile-line-height-body);
      width: 100%;
    }
  }
  &__order-index {
    display: flex;
    align-items: center;
    justify-content: center;
    & p {
      color: var(--logile-text-primary);
      font-family: var(--logile-family-body-family);
      font-size: var(--logile-size-body);
      font-style: normal;
      font-weight: var(--logile-weight-500);
      line-height: var(--logile-line-height-body);
    }
    &.required::after {
      content: "*";
      color: var(--logile-text-state-violation-bold-subtle);
      margin-right: var(--space-s);
      display: inline-block;
    }
  }
  &__dnd {
    margin-right: var(--space-m);
    display: flex;
    align-items: center;
    cursor: grab;
  }
  &__badges {
    flex: 1;
    display: flex;
    gap: var(--space-m);
    margin: var(--space-none) var(--space-l);
    justify-content: end;
  }
  &__type-label {
    @include flex-center(center, center, var(--space-xs));
    min-width: 152px;
    height: 36px;
    padding: var(--space-s) var(--space-l);
    margin: 0 var(--space-m);
    flex-shrink: 0;
    border-radius: var(--radius-m);
    border: 1px solid var(--logile-border-primary);
    background: var(--logile-bg-container-1);
    & span {
      overflow: hidden;
      color: var(--logile-text-primary);
      text-align: center;
      text-overflow: ellipsis;
      font-family: var(--logile-family-body-family);
      font-size: var(--logile-size-body);
      font-style: normal;
      font-weight: var(--logile-weight-400);
      line-height: var(--logile-line-height-body);
    }
  }
  &__chevron-down {
    @include flex-center(center, center);
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin-left: var(--space-l);
  }
  &--error {
    border: 1px solid var(--logile-border-state-violation);
  }
}
