@use "@/styles/mixins/mixins.scss" as *;

// Common styles
.switch {
  // Color variables
  --switch-color-checked: var(--logile-bg-container-1);
  --switch-bg-checked: var(--logile-bg-primary);
  --switch-bg-unchecked: var(--logile-bg-surface-subtle);

  // Default size variables (medium)
  --switch-width: var(--space-5xl);
  --switch-height: var(--space-2xl);
  --switch-margin: 3px;
  --switch-transform: var(--space-2xl);
  --switch-thumb-size: 14px;
  --switch-track-radius: var(--radius-l);

  display: inline-flex;
  gap: var(--space-xs);
  align-items: center;
  .switch__label {
    @include form-label;
  }

  .switch__input.MuiSwitch-root {
    padding: 0;
    width: var(--switch-width);
    height: var(--switch-height);

    // Switch base styles
    & .MuiSwitch-switchBase {
      padding: 0;
      margin: var(--switch-margin);
      transition-duration: 300ms;

      // Checked state
      &.Mui-checked {
        transform: translateX(var(--switch-transform));
        color: var(--switch-color-checked);

        .MuiSwitch-track {
          background-color: var(--switch-bg-checked);
          opacity: 1;
          border: 0;
        }
      }
    }

    // Thumb styles
    .MuiSwitch-thumb {
      box-sizing: border-box;
      width: var(--switch-thumb-size);
      height: var(--switch-thumb-size);
      box-shadow: none;
      background-color: var(--logile-icon-white);
    }

    // Track styles
    .MuiSwitch-track {
      border-radius: var(--switch-track-radius);
      opacity: 1;
      position: relative;
      background-color: var(--logile-bg-surface-subtle);
    }
    & .Mui-disabled {
      & .MuiSwitch-thumb {
        background-color: var(--logile-icon-tertiary);
      }
    }
  }
  &:has(.Mui-checked) {
    .switch__input.MuiSwitch-root .MuiSwitch-track {
      background-color: var(--logile-bg-primary);
    }
  }
  &:has(.Mui-disabled.Mui-checked) {
    .switch__input .MuiSwitch-thumb {
      background-color: var(--logile-icon-tertiary);
    }
    .switch__input.MuiSwitch-root .MuiSwitch-track {
      background-color: var(--logile-bg-surface-subtle);
    }
  }

  &--error {
    .switch__input .MuiSwitch-track {
      background-color: var(--logile-border-state-violation-bold-subtle);
    }
  }
  &--required {
    gap: var(--space-m);
    .switch__label {
      @include form-label($required: true);
    }
  }

  // Large variant
  &--large {
    --switch-width: var(--space-7xl);
    --switch-height: 30px;
    --switch-margin: var(--space-xs);
    --switch-transform: 34px;
    --switch-thumb-size: 22px;
    --switch-track-radius: 15px;

    & .switch__input.MuiSwitch-root {
      &::before {
        content: "ON";
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translateY(-50%);
        color: var(--logile-text-white);
        opacity: 0;
        transition: opacity 200ms;
        line-height: var(--logile-line-height-body);
      }
      &::after {
        content: "OFF";
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        color: var(--logile-text-secondary);
        opacity: 1;
        transition: opacity 200ms;
      }
      &:has(.Mui-disabled) {
        &::before,
        &::after {
          color: var(--logile-text-state-disabled);
        }
      }
      &:has(.Mui-checked) {
        &::before {
          opacity: 1;
        }
        &::after {
          opacity: 0;
        }
      }
    }
  }

  // Small variant
  &--small {
    --switch-width: 26px;
    --switch-height: 14px;
    --switch-margin: var(--space-xxs);
    --switch-transform: var(--space-l);
    --switch-thumb-size: 10px;
    --switch-track-radius: 7px;
  }
}
