.pagetemplate__root {
  &.layout-tablet {
    height: calc(100vh - var(--appbar-height));
    & > .pagetemplate__content {
      border: none;
      border-top: var(--border-s) solid var(--logile-border-secondary);
      border-radius: 0;
    }
  }
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: calc(
    100vh - var(--appbar-height) - var(--pagetemplate-bottom-margin)
  );
  width: 100%;
  padding-right: var(--gap-r);
  padding-bottom: var(--gap-r);
}
.pagetemplate__header {
  flex-shrink: 0;
  position: sticky;
  top: 0;
  background-color: var(--logile-bg-base);
  width: 100%;
  z-index: var(--zindex-m);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding: var(--space-m) var(--space-xl) 0;
}
.pagetemplate__content {
  background-color: var(--logile-bg-container-1);
  flex: 1;
  min-height: 0;
  overflow: auto;
  border: var(--border-s) solid var(--logile-border-secondary);
  border-radius: var(--radius-m);
}
.pagetemplate__page-tabs {
  flex-shrink: 0;
  padding: var(--space-l) var(--space-xl) var(--space-m);
  border-bottom: var(--border-s) solid var(--logile-border-secondary);
}
.pagetemplate__actionbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-xl);
  margin-top: var(--space-m);
}
