.primary {
  fill: var(--icon-primary);
}

.secondary {
  fill: var(--icon-secondary);
}

.tertiary {
  fill: var(--icon-tertiary);
}

.white {
  fill: var(--icon-white);
}

.brand-primary {
  fill: var(--icon-brand-primary);
}

.brand-primary-subtle {
  fill: var(--icon-brand-primary-subtle);
}

.disabled {
  fill: var(--icon-state-disabled);
}

.disabled-subtle {
  fill: var(--icon-state-disabled-subtle);
}

.success {
  fill: var(--icon-state-success);
}

.success-subtle {
  fill: var(--icon-state-success-subtle);
}

.success-bold {
  fill: var(--icon-state-success-bold);
}

.success-bold-subtle {
  fill: var(--icon-state-success-bold-subtle);
}

.success-alpha {
  fill: var(--icon-state-success-alpha);
}

.violation {
  fill: var(--icon-state-violation);
}

.violation-subtle {
  fill: var(--icon-state-violation-subtle);
}

.violation-bold {
  fill: var(--icon-state-violation-bold);
}

.violation-bold-subtle {
  fill: var(--icon-state-violation-bold-subtle);
}

.violation-alpha {
  fill: var(--icon-state-violation-alpha);
}

.information {
  fill: var(--icon-state-information);
}

.information-subtle {
  fill: var(--icon-state-information-subtle);
}

.information-bold {
  fill: var(--icon-state-information-bold);
}

.information-bold-subtle {
  fill: var(--icon-state-information-bold-subtle);
}

.information-alpha {
  fill: var(--icon-state-information-alpha);
}

.warning {
  fill: var(--icon-state-warning);
}

.warning-subtle {
  fill: var(--icon-state-warning-subtle);
}

.warning-bold {
  fill: var(--icon-state-warning-bold);
}

.warning-bold-subtle {
  fill: var(--icon-state-warning-bold-subtle);
}

.warning-alpha {
  fill: var(--icon-state-warning-alpha);
}

.navbar-active {
  fill: var(--icon-state-navbar-active);
}

.success-alpha-2 {
  fill: var(--icon-state-success-alpha-2);
}

.violation-alpha-2 {
  fill: var(--icon-state-violation-alpha-2);
}

.information-alpha-2 {
  fill: var(--icon-state-information-alpha-2);
}

.warning-alpha-2 {
  fill: var(--icon-state-warning-alpha-2);
}
