.ql-preview-modal {
  &__body {
    --attachment-preview-modal-height: 419px;
    height: var(--attachment-preview-modal-height);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image-wrapper {
    height: fit-content;
    object-fit: contain;
    margin: var(--space-xl);
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
