.wildcard-label {
  --wildcard-chip-height: 24px;
  display: block;
  align-items: center;
  gap: var(--space-xs);
  overflow: hidden;
  max-width: 100%;
  margin: 0;
  &__chip {
    display: inline-flex;
    align-items: center;
    gap: var(--space-s);
    flex-shrink: 0;
    padding: 0 var(--space-m);
    border-radius: var(--radius-xs);
    background: var(--logile-bg-primary-x-subtle);
    height: var(--wildcard-chip-height);
    margin: var(--space-none) var(--space-xs);
    svg {
      flex-shrink: 0;
    }
    p {
      margin: 0;
      white-space: nowrap;
      color: var(--logile-text-primary);
      font-size: var(--logile-size-body);
      font-weight: var(--logile-weight-400);
      line-height: var(--logile-line-height-body);
    }
  }
  &--truncate {
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
  }
}
