@use "@/styles/mixins/mixins.scss" as *;

.wildcard-label {
  --wildcard-chip-height: 24px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: var(--wildcard-chip-height);
  max-width: 100%;
  margin: 0;
  vertical-align: middle;
  @include flex-center(start, center);
  gap: var(--space-none);
  font-size: var(--logile-size-body);
  & * {
    @include flex-center(start, center);
    gap: var(--space-none);
    font-size: var(--logile-size-body);
    margin: 0;
  }
  &__chip {
    display: inline-flex;
    align-items: center;
    gap: var(--space-s);
    flex-shrink: 0;
    padding: 0 var(--space-m);
    border-radius: var(--radius-xs);
    background: var(--logile-bg-primary-x-subtle);
    height: var(--wildcard-chip-height);
    margin: var(--space-none) var(--space-xs);
    vertical-align: middle;
    svg {
      flex-shrink: 0;
    }
    p {
      margin: 0;
      white-space: nowrap;
      color: var(--logile-text-primary);
      font-size: var(--logile-size-body);
      font-weight: var(--logile-weight-400);
      line-height: var(--wildcard-chip-height);
    }
  }
  &--truncate {
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    & * {
      background-color: transparent !important;
      display: inline-flex;
    }
  }
  .ql-wildcard > span {
    margin: var(--space-none) var(--space-xs);
    border-radius: var(--radius-xs);
    line-height: var(--logile-line-height-body);
    display: inline-flex;
    align-items: center;
    background: var(--logile-bg-primary-x-subtle);
    line-height: var(--logile-line-height-body);
    color: var(--logile-text-primary);
    font-size: var(--logile-size-body);
    padding: var(--space-xxs) var(--space-m);
    .label {
      margin-left: var(--space-m);
      white-space: nowrap;
    }
  }
}
