@use "@/styles/mixins/create-template.scss" as *;

.create-template-page-header {
    @include flex-center(space-between, center, var(--space-l));
    gap: var(--space-l);
    width: 100%;

    &__cursor-pointer {
        cursor: pointer;
    }
    &__back-icon {
        margin-right: var(--space-l);
        background-color: var(--bg-container-1);
        padding: var(--space-m);
    }
    &__section {
        @include flex-center;
    }
}

.create-template-page-content {
    height: calc(100% - 5.6rem);
    padding: var(--space-xl);
}
