@use "@/styles/mixins/mixins.scss" as *;

.no-data {
  &__list-container {
    @include flex-center(center, center, var(--space-none));
    flex-direction: column;
    flex: 1;
    text-align: center;
    padding: var(--space-xl);
    width: 100%;
    height: 100%;

    &-heading {
      margin: var(--space-l) 0;
      font-size: var(--logile-size-body);
      font-weight: var(--logile-weight-500);
      color: var(--logile-text-primary);
    }

    &-body {
      font-size: var(--logile-size-secondary-text);
      color: var(--logile-text-secondary);
      text-align: center;
    }
  }

  &__box-container {
    @include flex-center(center, center);
    border-radius: var(--radius-m);
    border: 1px dashed var(--logile-border-secondary);
    background: var(--logile-bg-container-1);
    min-height: var(--size-26);
    color: var(--logile-text-tertiary);
    font-size: var(--logile-size-body);
  }
}
