.appbar {
  --logo-height: 20px;
  --logo-width: 95px;
  height: var(--appbar-height);
  padding: var(--space-xs) var(--space-xl) var(--space-xs) var(--space-xl);
  background-color: var(--logile-bg-base);
  color: var(--logile-text-primary);
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__left-section {
    display: flex;
    align-items: center;
    gap: var(--space-3xl);
  }
  &__logo-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    &--logo {
      height: var(--logo-height);
      width: var(--logo-width);
      color: var(--logile-icon-brand-primary);
    }
    &--text.appbar__logo-box--text {
      margin-left: var(--space-s);
      color: var(--logile-icon-brand-primary);
      font-size: var(--logile-size-body);
      font-weight: var(--logile-weight-500);
      height: var(--logo-height);
    }
  }

  &__search-bar {
    margin-left: auto;
    max-width: 24rem;
    max-height: 3.6rem;
  }
  &__right-section {
    display: flex;
    align-items: center;
    margin-left: var(--space-3xl);
    .action-icons-box {
      gap: var(--space-xs);
      flex-direction: row;
      display: flex;
      align-items: center;
      margin-right: var(--space-3xl);
      .notifiction-badge {
        & .MuiBadge-badge {
          top: ".4rem";
          font-weight: var(--logile-weight-400);
          font-size: 1.5rem;
        }
      }
    }
  }
}
