@use "@/styles/mixins/mixins.scss" as *;

.ql-link-modal {
  @include flex-box(column);
  gap: var(--space-2xl);
  width: 100%;
  padding: var(--space-xl);
  background: var(--logile-bg-container-1);
}
