[data-theme="dark"] {
  //Icons
  --icon-primary: var(--gray-50);
  --icon-secondary: var(--gray-300);
  --icon-tertiary: var(--gray-500);
  --icon-white: var(--base-white);
  --icon-brand-primary: var(--blue-400);
  --icon-brand-primary-subtle: var(--blue-300);
  --icon-state-disabled: var(--gray-500);
  --icon-state-disabled-subtl: var(--gray-700);
  --icon-state-success: var(--green-400);
  --icon-state-success-subtle: var(--green-100);
  --icon-state-success-bold: var(--green-500);
  --icon-state-success-bold-subtle: var(--green-500);
  --icon-state-success-alpha: var(--green-1a);
  --icon-state-violation: var(--red-400);
  --icon-state-violation-subtle: var(--red-100);
  --icon-state-violation-bold: var(--red-500);
  --icon-state-violation-bold-subtle: var(--red-500);
  --icon-state-violation-alpha: var(--red-1a);
  --icon-state-information: var(--blue-600);
  --icon-state-information-subtle: var(--blue-100);
  --icon-state-information-bold: var(--blue-400);
  --icon-state-information-bold-subtle: var(--blue-400);
  --icon-state-information-alpha: var(--blue-1a);
  --icon-state-warning: var(--orange-400);
  --icon-state-warning-subtle: var(--orange-100);
  --icon-state-warning-bold: var(--orange-500);
  --icon-state-warning-bold-subtle: var(--orange-500);
  --icon-state-warning-alpha: var(--orange-1a);
  --icon-state-navbar-active: var(--blue-100);

  // border
  --border-primary: var(--gray-600);
  --border-secondary: var(--gray-700);
  --border-tertiary: var(--gray-900);
  --border-brand-primary: var(--blue-300);
  --border-brand-primary-subtle: var(--blue-300);
  --border-brand-primary-bold: var(--blue-500);
  --border-bold: var(--gray-100);
  --border-bold-subtle: var(--gray-300);
  --border-white: var(--gray-950);
  --border-state-disabled: var(--gray-900);
  --border-state-disabled-subtle: var(--gray-950);
  --border-state-success: var(--green-400);
  --border-state-success-subtle: var(--green-100);
  --border-state-success-bold: var(--green-500);
  --border-state-success-bold-subtle: var(--green-500);
  --border-state-violation: var(--red-400);
  --border-state-violation-subtle: var(--red-100);
  --border-state-violation-bold: var(--red-500);
  --border-state-violation-bold-subtle: var(--red-500);
  --border-state-information: var(--blue-600);
  --border-state-information-subtle: var(--blue-100);
  --border-state-information-bold: var(--blue-400);
  --border-state-information-bold-subtle: var(--blue-400);
  --border-state-warning: var(--orange-400);
  --border-state-warning-subtle: var(--orange-100);
  --border-state-warning-bold: var(--orange-500);
  --border-state-warning-bold-subtle: var(--orange-500);

  // text
  --text-primary: var(--gray-50);
  --text-secondary: var(--gray-400);
  --text-tertiary: var(--gray-500);
  --text-white: var(--base-white);
  --text-state-disabled: var(--gray-500);
  --text-state-disabled-subtl: var(--gray-700);
  --text-brand-primary: var(--blue-400);
  --text-brand-primary-subtle: var(--blue-200);
  --text-state-success: var(--green-400);
  --text-state-success-subtle: var(--green-100);
  --text-state-success-bold: var(--green-500);
  --text-state-success-bold-subtle: var(--green-500);
  --text-state-violation: var(--red-400);
  --text-state-violation-subtle: var(--red-100);
  --text-state-violation-bold: var(--red-500);
  --text-state-violation-bold-subtle: var(--red-500);
  --text-state-information-subtle: var(--blue-100);
  --text-state-information-bold: var(--blue-400);
  --text-state-information-bold-subtle: var(--blue-400);
  --text-state-information: var(--blue-600);
  --text-state-warning: var(--orange-400);
  --text-state-warning-subtle: var(--orange-100);
  --text-state-warning-bold: var(--orange-500);
  --text-state-warning-bold-subtle: var(--orange-500);

  //Background colors
  --bg-base: var(--gray-900);
  --text-state-navbar-active: var(--blue-300);
  --bg-container-1: var(--gray-950);
  --bg-container-2: var(--gray-900);
  --bg-container-3: var(--gray-800);
  --bg-primary: var(--blue-400);
  --bg-primary-subtle: var(--blue-100);
  --bg-primary-x-subtle: var(--blue-1a);
  --bg-primary-bold: var(--blue-400);
  --bg-primary-x-bold: var(--blue-600);
  --bg-surface: var(--Masala-500);
  --bg-surface-subtle: var(--gray-1a);
  --bg-surface-x-subtle: var(--gray-a);
  --bg-surface-bold: var(--gray-600);
  --bg-surface-x-bold: var(--gray-700);
  --bg-overlay: var(--white-7a);
  --focus-ring-default: var(--blue-200);
  --focus-ring-error: var(--red-200);
  --focus-ring-a: var(--gray-0a);
  --bg-state-disabled: var(--gray-800);
  --bg-state-disabled-subtle: var(--gray-900);
  --bg-state-success: var(--green-500);
  --bg-table-header: var(--gray-800);
  --bg-table-row: var(--gray-950);
  --bg-table-row-alt: var(--gray-900);
  --bg-table-accordion: var(--blue-950);
  --bg-table-accordion-open: var(--gray-900);
  --bg-table-total: var(--orange-900);
  --bg-table-total-alt: var(--blue-900);
  --bg-utility-ess-my-shift: var(--blue-600);
  --bg-utility-ess-actual-shift: #885406FF;
  --bg-utility-ess-available-shifts: #CC8400FF;
  --bg-utility-ess-request: var(--green-600);
  --bg-utility-ess-shared: var(--bg-utility-purple-base);
  --bg-utility-ess-holiday-benefit: #DAE8FAFF;
  --bg-utility-ess-Off-bg: var(--gray-200);
  --bg-utility-ess-white-text: var(--base-white);
  --bg-utility-ess-holiday-benefit-text: var(--blue-800);
  --bg-utility-ess-Off-text: var(--gray-600);
  --bg-utility-ess-my-shift-light: var(--blue-1a);
  --bg-utility-ess-actual-shift-light: #8854061A;
  --bg-utility-ess-available-shifts-light: var(--orange-1a);
  --bg-utility-ess-request-light: var(--green-1a);
  --bg-utility-ess-shared-light: var(--bg-utility-purple-light);
  --bg-state-success-subtle: var(--green-100);
  --bg-state-success-x-subtle: var(--green-50);
  --bg-state-success-bold: var(--green-400);
  --bg-state-success-x-bold: var(--green-600);
  --bg-state-success-alpha: var(--green-1a);
  --bg-state-violation: var(--red-500);
  --bg-state-violation-subtle: var(--red-100);
  --bg-state-violation-x-subtle: var(--red-50);
  --bg-state-violation-bold: var(--red-400);
  --bg-state-violation-x-bold: var(--red-600);
  --bg-state-violation-alpha: var(--red-1a);
  --bg-state-information: var(--blue-600);
  --bg-state-information-subtle: var(--blue-100);
  --bg-state-information-x-subtle: var(--blue-50);
  --bg-state-information-bold: var(--blue-700);
  --bg-state-information-x-bold: var(--blue-800);
  --bg-state-information-alpha: var(--blue-1a);
  --bg-state-warning: var(--orange-500);
  --bg-state-warning-subtle: var(--orange-100);
  --bg-state-warning-x-subtle: var(--orange-50);
  --bg-state-warning-bold: var(--orange-400);
  --bg-state-warning-x-bold: var(--orange-600);
  --bg-state-warning-alpha: var(--orange-1a);
  --bg-state-navbar-active: var(--blue-1a);
  --bg-utility-yellow-base: var(--utility-yellow-base);
  --bg-utility-yellow-semi-light: #F2AE401A;
  --bg-utility-yellow-light: #F2AE401A;
  --bg-utility-purple-base: var(--utility-purple-base-sub-dark);
  --bg-utility-purple-light: #6E3FF31A;
  --bg-utility-purple-semi-light: #6E3FF340;
  --bg-utility-pink-base: var(--utility-pink-base);
  --bg-utility-pink-semi-light: #E255F21A;
  --bg-utility-yellow-dark: var(--utility-yellow-base);
  --bg-utility-pink-light: #E255F21A;
  --bg-utility-teal-base: var(--utility-teal-base);
  --bg-utility-teal-semi-light: #35B9E91A;
  --bg-utility-teal-light: #35B9E91A;
  --bg-utility-teal-dark: var(--utility-teal-base);
  --bg-utility-purple-dark: var(--utility-purple-base-sub-dark);
  --bg-utility-pink-dark: var(--utility-pink-base);
  --bg-utility-green-base: var(--bg-state-success);
  --bg-utility-green-semi-light: #009B0040;
  --bg-utility-green-light: #009B001A;
  --bg-utility-food-safety-blue: var(--blue-300);
  --bg-utility-food-safety-green: var(--green-700);
  --bg-utility-food-safety-light-green: var(--green-900);
  --bg-utility-food-safety-light-red: var(--red-900);
  --bg-utility-food-safety-white: var(--gray-950);
  --bg-utility-food-safety-light-orange: var(--orange-1a);
  --bg-utility-gray-a: var(--white-a);
  --bg-utility-gray-1a: var(--white-1a);
  --bg-utility-gray-1a-a: var(--white-1a-a);
  --bg-utility-gray-2a: var(--white-2a);
  --bg-utility-gray-3a: var(--white-3a);
  --bg-utility-gray-4a: var(--white-4a);
  --bg-utility-gray-5a: var(--white-5a);
  --bg-utility-gray-6a: var(--white-6a);
  --bg-utility-gray-7a: var(--white-7a);
  --bg-utility-gray-8a: var(--white-8a);
  --bg-utility-gray-9a: var(--white-9a);
  --bg-utility-gray-10a: var(--white-10a);
  --bg-utility-gray-11a: var(--white-11a);
  --bg-utility-timesheet-punch-in: var(--green-600);
  --bg-utility-timesheet-punch-in-bg: var(--green-1a);
  --bg-utility-timesheet-punch-out: var(--red-600);
  --bg-utility-timesheet-punch-out-bg: var(--red-1a);
  --bg-utility-timesheet-meal-break: var(--orange-600);
  --bg-utility-timesheet-meal-break-bg: var(--orange-1a);
  --bg-utility-timesheet-transition: var(--blue-600);
  --bg-utility-timesheet-transition-bg: var(--blue-1a);
  
  --text-black-333: var(--gray-900);
  --icon-state-success-alpha-2: var(--green-1a);
  --text-brand-primary-dark-mode-alt: var(--blue-200);
  --icon-state-violation-alpha-2: var(--red-1a);
  --icon-state-information-alpha-2: var(--blue-1a);
  --icon-state-warning-alpha-2: var(--orange-1a);
}