[data-theme="light"] {
  /* 1. Color - Light */
  --logile-text-primary: var(--logile-a-neutral-900);
  --logile-border-primary: var(--logile-a-neutral-300);
  --logile-icon-primary: var(--logile-a-neutral-900);
  --logile-icon-primary-alt: var(--logile-a-dark-neutral-900);
  --logile-text-primary-alt: var(--logile-a-dark-neutral-950);
  --logile-icon-secondary: var(--logile-a-neutral-600);
  --logile-icon-tertiary: var(--logile-a-neutral-400);
  --logile-icon-white: var(--logile-a-neutral-0);
  --logile-icon-brand-primary: var(--logile-a-primary-500);
  --logile-icon-brand-primary-alt-dark-mode: var(--logile-a-primary-500);
  --logile-icon-brand-primary-subtle: var(--logile-a-primary-400);
  --logile-icon-state-disabled: var(--logile-a-neutral-400);
  --logile-icon-state-disabled-subtl: var(--logile-a-neutral-200);
  --logile-icon-state-success: var(--logile-a-success-600);
  --logile-icon-state-success-subtle: var(--logile-a-success-200);
  --logile-icon-state-success-bold: var(--logile-a-success-800);
  --logile-icon-state-success-bold-subtle: var(--logile-a-success-600);
  --logile-icon-state-success-alpha: var(--logile-a-success-1a);
  --logile-icon-state-violation: var(--logile-a-error-600);
  --logile-icon-state-violation-subtle: var(--logile-a-error-200);
  --logile-icon-state-violation-bold: var(--logile-a-error-800);
  --logile-icon-state-violation-bold-subtle: var(--logile-a-error-600);
  --logile-icon-state-violation-alpha: var(--logile-a-error-1a);
  --logile-icon-state-information: var(--logile-a-information-600);
  --logile-icon-state-information-subtle: var(--logile-a-information-200);
  --logile-icon-state-information-bold: var(--logile-a-information-800);
  --logile-icon-state-information-bold-subtle: var(--logile-a-information-600);
  --logile-icon-state-information-alpha: var(--logile-a-information-1a);
  --logile-icon-state-warning: var(--logile-a-warning-600);
  --logile-icon-state-warning-subtle: var(--logile-a-warning-200);
  --logile-icon-state-warning-bold: var(--logile-a-warning-800);
  --logile-icon-state-warning-bold-subtle: var(--logile-a-warning-600);
  --logile-icon-state-warning-alpha: var(--logile-a-warning-1a);
  --logile-icon-state-navbar-active: var(--logile-a-primary-600);
  --logile-border-secondary: var(--logile-a-neutral-200);
  --logile-border-tertiary: var(--logile-a-neutral-100);
  --logile-border-brand-primary: var(--logile-a-primary-500);
  --logile-border-brand-primary-alt-dark-mode: var(--logile-a-primary-500);
  --logile-border-brand-primary-subtle: var(--logile-a-primary-400);
  --logile-border-brand-primary-bold: var(--logile-a-primary-600);
  --logile-border-bold: var(--logile-a-neutral-950);
  --logile-border-bold-subtle: var(--logile-a-neutral-700);
  --logile-border-white: var(--logile-a-neutral-0);
  --logile-border-white-dark: var(--logile-a-neutral-0);
  --logile-border-state-disabled: var(--logile-a-neutral-100);
  --logile-border-state-disabled-subtle: var(--logile-a-neutral-50);
  --logile-border-state-success: var(--logile-a-success-500);
  --logile-border-state-success-subtle: var(--logile-a-success-200);
  --logile-border-state-success-bold: var(--logile-a-success-800);
  --logile-border-state-success-bold-subtle: var(--logile-a-success-600);
  --logile-border-state-violation: var(--logile-a-error-600);
  --logile-border-state-violation-subtle: var(--logile-a-error-200);
  --logile-border-state-violation-bold: var(--logile-a-error-800);
  --logile-border-state-violation-bold-subtle: var(--logile-a-error-600);
  --logile-border-state-information: var(--logile-a-information-500);
  --logile-border-state-information-subtle: var(--logile-a-information-200);
  --logile-border-state-information-bold: var(--logile-a-information-800);
  --logile-border-state-information-bold-subtle: var(
    --logile-a-information-600
  );
  --logile-border-state-warning: var(--logile-a-warning-500);
  --logile-border-state-warning-subtle: var(--logile-a-warning-200);
  --logile-border-state-warning-bold: var(--logile-a-warning-800);
  --logile-border-state-warning-bold-subtle: var(--logile-a-warning-600);
  --logile-text-secondary: var(--logile-a-neutral-600);
  --logile-text-tertiary: var(--logile-a-neutral-400);
  --logile-text-white: var(--logile-a-neutral-0);
  --logile-text-state-disabled: var(--logile-a-neutral-400);
  --logile-text-white-dark-mode: var(--logile-a-neutral-0);
  --logile-text-state-disabled-subtl: var(--logile-a-neutral-200);
  --logile-text-brand-primary: var(--logile-a-primary-500);
  --logile-text-brand-primary-subtle: var(--logile-a-primary-400);
  --logile-text-state-success: var(--logile-a-success-600);
  --logile-text-state-success-subtle: var(--logile-a-success-200);
  --logile-text-state-success-bold: var(--logile-a-success-800);
  --logile-text-state-success-bold-subtle: var(--logile-a-success-600);
  --logile-text-state-violation: var(--logile-a-error-600);
  --logile-text-state-violation-subtle: var(--logile-a-error-200);
  --logile-text-state-violation-bold: var(--logile-a-error-800);
  --logile-text-state-violation-bold-subtle: var(--logile-a-error-600);
  --logile-text-state-information: var(--logile-a-information-600);
  --logile-text-state-information-subtle: var(--logile-a-information-200);
  --logile-text-state-information-bold: var(--logile-a-information-800);
  --logile-text-state-information-bold-subtle: var(--logile-a-information-600);
  --logile-text-state-warning: var(--logile-a-warning-600);
  --logile-text-state-warning-subtle: var(--logile-a-warning-200);
  --logile-text-state-warning-bold: var(--logile-a-warning-800);
  --logile-text-state-warning-bold-subtle: var(--logile-a-warning-600);
  --logile-text-state-navbar-active: var(--logile-a-primary-600);
  --logile-bg-base: var(--logile-a-blue-25);
  --logile-bg-container-1: var(--logile-a-neutral-0);
  --logile-bg-container-2: var(--logile-a-neutral-50);
  --logile-bg-container-3: var(--logile-a-neutral-100);
  --logile-bg-primary: var(--logile-a-primary-500);
  --logile-bg-primary-subtle: var(--logile-a-primary-200);
  --logile-bg-primary-x-subtle: var(--logile-a-primary-1a);
  --logile-bg-primary-bold: var(--logile-a-primary-600);
  --logile-bg-primary-x-bold: var(--logile-a-primary-700);
  --logile-bg-surface: var(--logile-a-neutral-600);
  --logile-bg-surface-subtle: var(--logile-a-neutral-200);
  --logile-bg-surface-x-subtle: var(--logile-a-neutral-50);
  --logile-bg-surface-bold: var(--logile-a-neutral-700);
  --logile-bg-surface-x-bold: var(--logile-a-neutral-800);
  --logile-bg-overlay: var(--logile-a-neutral-7a);
  --logile-focus-ring-default: var(--logile-a-primary-400);
  --logile-utility-yellow-50: var(--logile-a-yellow-50);
  --logile-utility-yellow-100: var(--logile-a-yellow-100);
  --logile-utility-yellow-200: var(--logile-a-yellow-200);
  --logile-utility-yellow-300: var(--logile-a-yellow-300);
  --logile-utility-yellow-400: var(--logile-a-yellow-400);
  --logile-utility-yellow-500: var(--logile-a-yellow-500);
  --logile-utility-yellow-600: var(--logile-a-yellow-600);
  --logile-utility-yellow-700: var(--logile-a-yellow-700);
  --logile-utility-yellow-800: var(--logile-a-yellow-800);
  --logile-utility-yellow-900: var(--logile-a-yellow-900);
  --logile-utility-yellow-950: var(--logile-a-yellow-950);
  --logile-utility-yellow-1a: var(--logile-a-yellow-1a);
  --logile-utility-yellow-2a: var(--logile-a-yellow-2a);
  --logile-utility-yellow-3a: var(--logile-a-yellow-3a);
  --logile-utility-yellow-4a: var(--logile-a-yellow-4a);
  --logile-utility-yellow-5a: var(--logile-a-yellow-5a);
  --logile-utility-yellow-6a: var(--logile-a-yellow-6a);
  --logile-utility-yellow-7a: var(--logile-a-yellow-7a);
  --logile-utility-yellow-8a: var(--logile-a-yellow-8a);
  --logile-utility-yellow-9a: var(--logile-a-yellow-9a);
  --logile-utility-yellow-10a: var(--logile-a-yellow-10a);
  --logile-utility-yellow-11a: var(--logile-a-yellow-11a);
  --logile-utility-orange-50: var(--logile-a-orange-50);
  --logile-utility-orange-100: var(--logile-a-orange-100);
  --logile-utility-orange-200: var(--logile-a-orange-200);
  --logile-utility-orange-300: var(--logile-a-orange-300);
  --logile-utility-orange-400: var(--logile-a-orange-400);
  --logile-utility-orange-500: var(--logile-a-orange-500);
  --logile-utility-orange-600: var(--logile-a-orange-600);
  --logile-utility-orange-700: var(--logile-a-orange-700);
  --logile-utility-orange-800: var(--logile-a-orange-800);
  --logile-utility-orange-900: var(--logile-a-orange-900);
  --logile-utility-orange-950: var(--logile-a-orange-950);
  --logile-utility-orange-1a: var(--logile-a-orange-1a);
  --logile-utility-orange-2a: var(--logile-utility-yellow-2a);
  --logile-utility-orange-3a: var(--logile-a-orange-3a);
  --logile-utility-orange-4a: var(--logile-a-orange-4a);
  --logile-utility-orange-5a: var(--logile-a-orange-5a);
  --logile-utility-orange-6a: var(--logile-a-orange-6a);
  --logile-utility-orange-7a: var(--logile-a-orange-7a);
  --logile-utility-orange-8a: var(--logile-a-orange-8a);
  --logile-utility-orange-9a: var(--logile-a-orange-9a);
  --logile-utility-orange-10a: var(--logile-a-orange-10a);
  --logile-utility-orange-11a: var(--logile-a-orange-11a);
  --logile-utility-purple-50: var(--logile-a-violet-50);
  --logile-utility-purple-100: var(--logile-a-violet-100);
  --logile-utility-purple-200: var(--logile-a-violet-200);
  --logile-utility-purple-300: var(--logile-a-violet-300);
  --logile-utility-purple-400: var(--logile-a-violet-400);
  --logile-utility-purple-500: var(--logile-a-violet-500);
  --logile-utility-purple-600: var(--logile-a-violet-600);
  --logile-utility-purple-700: var(--logile-a-violet-700);
  --logile-utility-purple-800: var(--logile-a-violet-800);
  --logile-utility-purple-900: var(--logile-a-violet-900);
  --logile-utility-purple-950: var(--logile-a-violet-950);
  --logile-utility-purple-1a: var(--logile-a-violet-1a);
  --logile-utility-purple-2a: var(--logile-a-violet-2a);
  --logile-utility-purple-3a: var(--logile-a-violet-3a);
  --logile-utility-purple-4a: var(--logile-a-violet-4a);
  --logile-utility-purple-5a: var(--logile-a-violet-5a);
  --logile-utility-purple-6a: var(--logile-a-violet-6a);
  --logile-utility-purple-7a: var(--logile-a-violet-7a);
  --logile-utility-purple-8a: var(--logile-a-violet-8a);
  --logile-utility-purple-9a: var(--logile-a-violet-9a);
  --logile-utility-purple-10a: var(--logile-a-violet-10a);
  --logile-utility-purple-11a: var(--logile-a-violet-11a);
  --logile-utility-teal-50: var(--logile-a-teal-50);
  --logile-utility-teal-100: var(--logile-a-teal-100);
  --logile-utility-teal-200: var(--logile-a-teal-200);
  --logile-utility-teal-300: var(--logile-a-teal-300);
  --logile-utility-teal-400: var(--logile-a-teal-400);
  --logile-utility-teal-500: var(--logile-a-teal-500);
  --logile-utility-teal-600: var(--logile-a-teal-600);
  --logile-utility-teal-700: var(--logile-a-teal-700);
  --logile-utility-teal-800: var(--logile-a-teal-800);
  --logile-utility-teal-900: var(--logile-a-teal-900);
  --logile-utility-teal-950: var(--logile-a-teal-950);
  --logile-utility-teal-1a: var(--logile-a-teal-1a);
  --logile-utility-teal-2a: var(--logile-a-teal-2a);
  --logile-utility-teal-3a: var(--logile-a-teal-3a);
  --logile-utility-teal-4a: var(--logile-a-teal-4a);
  --logile-utility-teal-5a: var(--logile-a-teal-5a);
  --logile-utility-teal-6a: var(--logile-a-teal-6a);
  --logile-utility-teal-7a: var(--logile-a-teal-7a);
  --logile-utility-teal-8a: var(--logile-a-teal-8a);
  --logile-utility-teal-9a: var(--logile-a-teal-9a);
  --logile-utility-teal-10a: var(--logile-a-teal-10a);
  --logile-utility-teal-11a: var(--logile-a-teal-11a);
  --logile-utility-pink-50: var(--logile-a-pink-50);
  --logile-utility-pink-100: var(--logile-a-pink-100);
  --logile-utility-pink-200: var(--logile-a-pink-200);
  --logile-utility-pink-300: var(--logile-a-pink-300);
  --logile-utility-pink-400: var(--logile-a-pink-400);
  --logile-utility-pink-500: var(--logile-a-pink-500);
  --logile-utility-pink-600: var(--logile-a-pink-600);
  --logile-utility-pink-700: var(--logile-a-pink-700);
  --logile-utility-pink-800: var(--logile-a-pink-800);
  --logile-utility-pink-900: var(--logile-a-pink-900);
  --logile-utility-pink-950: var(--logile-a-pink-950);
  --logile-utility-pink-1a: var(--logile-a-pink-1a);
  --logile-utility-pink-2a: var(--logile-a-pink-2a);
  --logile-utility-pink-3a: var(--logile-a-pink-3a);
  --logile-utility-pink-4a: var(--logile-a-pink-4a);
  --logile-utility-pink-5a: var(--logile-a-pink-5a);
  --logile-utility-pink-6a: var(--logile-a-pink-6a);
  --logile-utility-pink-7a: var(--logile-a-pink-7a);
  --logile-utility-pink-8a: var(--logile-a-pink-8a);
  --logile-utility-pink-9a: var(--logile-a-pink-9a);
  --logile-utility-pink-10a: var(--logile-a-pink-10a);
  --logile-utility-pink-11a: var(--logile-a-pink-11a);
  --logile-utility-green-50: var(--logile-a-green-50);
  --logile-utility-green-100: var(--logile-a-green-100);
  --logile-utility-green-200: var(--logile-a-green-200);
  --logile-utility-green-300: var(--logile-a-green-300);
  --logile-utility-green-400: var(--logile-a-green-400);
  --logile-utility-green-500: var(--logile-a-green-500);
  --logile-utility-green-600: var(--logile-a-green-600);
  --logile-utility-green-700: var(--logile-a-green-700);
  --logile-utility-green-800: var(--logile-a-green-800);
  --logile-utility-green-900: var(--logile-a-green-900);
  --logile-utility-green-950: var(--logile-a-green-950);
  --logile-utility-green-1a: var(--logile-a-green-1a);
  --logile-utility-green-2a: var(--logile-a-green-2a);
  --logile-utility-green-3a: var(--logile-a-green-3a);
  --logile-utility-green-4a: var(--logile-a-green-4a);
  --logile-utility-green-5a: var(--logile-a-green-5a);
  --logile-utility-green-6a: var(--logile-a-green-6a);
  --logile-utility-green-7a: var(--logile-a-green-7a);
  --logile-utility-green-8a: var(--logile-a-green-8a);
  --logile-utility-green-9a: var(--logile-a-green-9a);
  --logile-utility-green-10a: var(--logile-a-green-10a);
  --logile-utility-green-11a: var(--logile-a-green-11a);
  --logile-utility-blue-50: var(--logile-a-blue-50);
  --logile-utility-blue-100: var(--logile-a-blue-100);
  --logile-utility-blue-200: var(--logile-a-blue-200);
  --logile-utility-blue-300: var(--logile-a-blue-300);
  --logile-utility-blue-400: var(--logile-a-blue-400);
  --logile-utility-blue-500: var(--logile-a-blue-500);
  --logile-utility-blue-600: var(--logile-a-blue-600);
  --logile-utility-blue-700: var(--logile-a-blue-700);
  --logile-utility-blue-800: var(--logile-a-blue-800);
  --logile-utility-blue-900: var(--logile-a-blue-900);
  --logile-utility-blue-950: var(--logile-a-blue-950);
  --logile-utility-blue-1a: var(--logile-a-blue-1a);
  --logile-utility-blue-2a: var(--logile-a-blue-2a);
  --logile-utility-blue-3a: var(--logile-a-blue-3a);
  --logile-utility-blue-4a: var(--logile-a-blue-4a);
  --logile-utility-blue-5a: var(--logile-a-blue-5a);
  --logile-utility-blue-6a: var(--logile-a-blue-6a);
  --logile-utility-blue-7a: var(--logile-a-blue-7a);
  --logile-utility-blue-8a: var(--logile-a-blue-8a);
  --logile-utility-blue-9a: var(--logile-a-blue-9a);
  --logile-utility-blue-10a: var(--logile-a-blue-10a);
  --logile-utility-blue-11a: var(--logile-a-blue-11a);
  --logile-utility-blue-alt-50: var(--logile-a-blue-alt-50);
  --logile-utility-blue-alt-100: var(--logile-a-blue-alt-100);
  --logile-utility-blue-alt-200: var(--logile-a-blue-alt-200);
  --logile-utility-blue-alt-300: var(--logile-a-blue-alt-300);
  --logile-utility-blue-alt-400: var(--logile-a-blue-alt-400);
  --logile-utility-blue-alt-500: var(--logile-a-blue-alt-500);
  --logile-utility-blue-alt-600: var(--logile-a-blue-alt-600);
  --logile-utility-blue-alt-700: var(--logile-a-blue-alt-700);
  --logile-utility-blue-alt-800: var(--logile-a-blue-alt-800);
  --logile-utility-blue-alt-900: var(--logile-a-blue-alt-900);
  --logile-utility-blue-alt-950: var(--logile-a-blue-alt-950);
  --logile-utility-blue-alt-1a: var(--logile-a-blue-alt-1a);
  --logile-utility-blue-alt-2a: var(--logile-a-blue-alt-2a);
  --logile-utility-blue-alt-3a: var(--logile-a-blue-alt-3a);
  --logile-utility-blue-alt-4a: var(--logile-a-blue-alt-4a);
  --logile-utility-blue-alt-5a: var(--logile-a-blue-alt-5a);
  --logile-utility-blue-alt-6a: var(--logile-a-blue-alt-6a);
  --logile-utility-blue-alt-7a: var(--logile-a-blue-alt-7a);
  --logile-utility-blue-alt-8a: var(--logile-a-blue-alt-8a);
  --logile-utility-blue-alt-9a: var(--logile-a-blue-alt-9a);
  --logile-utility-blue-alt-10a: var(--logile-a-blue-alt-10a);
  --logile-utility-blue-alt-11a: var(--logile-a-blue-alt-11a);
  --logile-utility-red-50: var(--logile-a-red-50);
  --logile-utility-red-100: var(--logile-a-red-100);
  --logile-utility-red-200: var(--logile-a-red-200);
  --logile-utility-gray-50: var(--logile-a-neutral-50);
  --logile-utility-gray-100: var(--logile-a-neutral-100);
  --logile-utility-red-300: var(--logile-a-red-300);
  --logile-utility-red-400: var(--logile-a-red-400);
  --logile-utility-gray-200: var(--logile-a-neutral-200);
  --logile-utility-gray-300: var(--logile-a-neutral-300);
  --logile-utility-red-500: var(--logile-a-red-500);
  --logile-utility-red-600: var(--logile-a-red-600);
  --logile-utility-gray-400: var(--logile-a-neutral-400);
  --logile-utility-gray-500: var(--logile-a-neutral-500);
  --logile-utility-red-700: var(--logile-a-red-700);
  --logile-utility-gray-600: var(--logile-a-neutral-600);
  --logile-utility-red-800: var(--logile-a-red-800);
  --logile-utility-gray-700: var(--logile-a-neutral-700);
  --logile-utility-red-900: var(--logile-a-red-900);
  --logile-utility-red-950: var(--logile-a-red-950);
  --logile-utility-gray-800: var(--logile-a-neutral-800);
  --logile-utility-gray-900: var(--logile-a-neutral-900);
  --logile-utility-red-1a: var(--logile-a-red-1a);
  --logile-utility-red-2a: var(--logile-a-red-2a);
  --logile-utility-gray-1000: var(--logile-a-neutral-950);
  --logile-utility-gray-1100: var(--logile-a-neutral-1000);
  --logile-utility-red-3a: var(--logile-a-red-3a);
  --logile-utility-gray-0a: var(--logile-a-neutral-0a);
  --logile-utility-red-4a: var(--logile-a-red-4a);
  --logile-utility-red-5a: var(--logile-a-red-5a);
  --logile-utility-red-6a: var(--logile-a-red-6a);
  --logile-utility-red-7a: var(--logile-a-red-7a);
  --logile-utility-red-8a: var(--logile-a-red-8a);
  --logile-utility-red-9a: var(--logile-a-red-9a);
  --logile-utility-red-10a: var(--logile-a-red-10a);
  --logile-utility-red-11a: var(--logile-a-red-11a);
  --logile-utility-gray-a: var(--logile-a-neutral-a);
  --logile-utility-gray-1a: var(--logile-a-neutral-1a);
  --logile-utility-gray-1a-a: var(--logile-a-neutral-1a-a);
  --logile-utility-gray-2a: var(--logile-a-neutral-2a);
  --logile-utility-gray-3a: var(--logile-a-neutral-3a);
  --logile-utility-gray-4a: var(--logile-a-neutral-4a);
  --logile-utility-gray-5a: var(--logile-a-neutral-5a);
  --logile-utility-gray-6a: var(--logile-a-neutral-6a);
  --logile-utility-gray-7a: var(--logile-a-neutral-7a);
  --logile-utility-gray-8a: var(--logile-a-neutral-8a);
  --logile-utility-gray-9a: var(--logile-a-neutral-9a);
  --logile-utility-gray-10a: var(--logile-a-neutral-10a);
  --logile-utility-gray-11a: var(--logile-a-neutral-11a);
  --logile-utility-ess-my-shift: var(--ess-my-shift);
  --logile-utility-ess-actual-shift: var(--ess-actual-shift);
  --logile-utility-ess-available-shifts: var(--ess-available-shifts);
  --logile-utility-ess-request: var(--ess-request);
  --logile-utility-ess-shared: var(--ess-shared);
  --logile-utility-ess-holiday-benefit: var(--ess-holiday-benefit);
  --logile-utility-ess-off-bg: var(--ess-off-bg);
  --logile-utility-ess-white-text: var(--ess-white-text);
  --logile-utility-ess-holiday-benefit-text: var(--ess-holiday-benefit-text);
  --logile-utility-ess-off-text: var(--ess-off-text);
  --logile-utility-ess-my-shift-light: var(--ess-my-shift-light);
  --logile-utility-ess-actual-shift-light: var(--ess-actual-shift-light);
  --logile-utility-ess-available-shifts-light: var(
    --ess-available-shifts-light
  );
  --logile-utility-ess-request-light: var(--ess-request-light);
  --logile-utility-ess-shared-light: var(--logile-utility-purple-1a);
  --logile-utility-food-safety-blue: var(--food-safety-blue);
  --logile-utility-food-safety-green: var(--food-safety-green);
  --logile-utility-food-safety-light-green: var(--food-safety-light-green);
  --logile-utility-food-safety-light-red: var(--food-safety-light-red);
  --logile-utility-food-safety-white: var(--logile-base-white);
  --logile-utility-food-safety-light-orange: var(--food-safety-light-orange);
  --logile-utility-timesheet-punch-in: var(--timesheet-punch-in);
  --logile-utility-timesheet-punch-in-bg: var(--timesheet-punch-in-bg);
  --logile-utility-timesheet-punch-out: var(--timesheet-punch-out);
  --logile-utility-timesheet-punch-out-bg: var(--timesheet-punch-out-bg);
  --logile-utility-timesheet-meal-break: var(--timesheet-meal-break);
  --logile-utility-timesheet-meal-break-bg: var(--timesheet-meal-break-bg);
  --logile-utility-timesheet-transition: var(--timesheet-transition);
  --logile-utility-timesheet-transition-bg: var(--timesheet-transition-bg);
  --logile-focus-ring-error: var(--logile-a-error-400);
  --logile-focus-ring-a: var(--logile-a-dark-neutral-0a);
  --logile-bg-state-disabled: var(--logile-a-neutral-100);
  --logile-bg-state-disabled-subtle: var(--logile-a-neutral-50);
  --logile-bg-state-success: var(--logile-a-success-500);
  --logile-bg-table-header: var(--logile-a-blue-25);
  --logile-bg-table-row: var(--logile-a-neutral-0);
  --logile-bg-table-row-alt: var(--logile-a-neutral-50);
  --logile-bg-table-accordion: var(--logile-blue-1a);
  --logile-bg-table-accordion-open: var(--logile-a-neutral-50);
  --logile-bg-table-total: var(--logile-a-warning-1a);
  --logile-bg-table-total-alt: var(--logile-a-information-1a);
  --logile-bg-table-future-days: var(--logile-a-violet-2a);
  --logile-bg-state-success-subtle: var(--logile-a-success-200);
  --logile-bg-state-success-x-subtle: var(--logile-a-success-50);
  --logile-bg-state-success-bold: var(--logile-a-success-600);
  --logile-bg-state-success-x-bold: var(--logile-a-success-700);
  --logile-bg-state-success-alpha: var(--logile-a-success-1a);
  --logile-bg-state-violation: var(--logile-a-error-500);
  --logile-bg-state-violation-subtle: var(--logile-a-error-200);
  --logile-bg-state-violation-x-subtle: var(--logile-a-error-50);
  --logile-bg-state-violation-bold: var(--logile-a-error-600);
  --logile-bg-state-violation-x-bold: var(--logile-a-error-700);
  --logile-bg-state-violation-alpha: var(--logile-a-error-1a);
  --logile-bg-state-information: var(--logile-a-information-500);
  --logile-bg-state-information-subtle: var(--logile-a-information-200);
  --logile-bg-state-information-x-subtle: var(--logile-a-information-50);
  --logile-bg-state-information-bold: var(--logile-a-information-700);
  --logile-bg-state-information-x-bold: var(--logile-a-information-800);
  --logile-bg-state-information-alpha: var(--logile-a-information-1a);
  --logile-bg-state-warning: var(--logile-a-warning-500);
  --logile-bg-state-warning-subtle: var(--logile-a-warning-200);
  --logile-bg-state-warning-x-subtle: var(--logile-a-warning-50);
  --logile-bg-state-warning-bold: var(--logile-a-warning-700);
  --logile-bg-state-warning-x-bold: var(--logile-a-warning-800);
  --logile-bg-state-warning-alpha: var(--logile-a-warning-1a);
  --logile-bg-state-navbar-active: var(--logile-a-primary-1a);
  --logile-text-black: var(--logile-a-neutral-900);
  --logile-text-brand-primary-dark-mode-alt: var(--logile-a-primary-500);
  --logile-text-link: var(--logile-a-blue-500);
  --logile-utility-blue-dark-50: var(--logile-a-blue-50);
  --logile-utility-blue-dark-100: var(--logile-a-blue-100);
  --logile-utility-blue-dark-200: var(--logile-a-blue-200);
  --logile-utility-blue-dark-300: var(--logile-a-blue-300);
  --logile-utility-blue-dark-400: var(--logile-a-blue-400);
  --logile-utility-blue-dark-500: var(--logile-a-blue-500);
  --logile-utility-blue-dark-600: var(--logile-a-blue-600);
  --logile-utility-blue-dark-700: var(--logile-a-blue-700);
  --logile-utility-blue-dark-800: var(--logile-a-blue-800);
  --logile-utility-blue-dark-900: var(--logile-a-blue-900);
  --logile-utility-blue-dark-950: var(--logile-a-blue-950);
  --logile-utility-blue-dark-1a: var(--logile-a-blue-1a);
  --logile-utility-blue-dark-2a: var(--logile-a-blue-2a);
  --logile-utility-blue-dark-3a: var(--logile-a-blue-3a);
  --logile-utility-blue-dark-4a: var(--logile-a-blue-4a);
  --logile-utility-blue-dark-5a: var(--logile-a-blue-5a);
  --logile-utility-blue-dark-6a: var(--logile-a-blue-6a);
  --logile-utility-blue-dark-7a: var(--logile-a-blue-7a);
  --logile-utility-blue-dark-8a: var(--logile-a-blue-8a);
  --logile-utility-blue-dark-9a: var(--logile-a-blue-9a);
  --logile-utility-blue-dark-10a: var(--logile-a-blue-10a);
  --logile-utility-blue-dark-11a: var(--logile-a-blue-11a);
  --logile-utility-orange-dark-50: var(--logile-a-orange-50);
  --logile-utility-orange-dark-100: var(--logile-a-orange-100);
  --logile-utility-orange-dark-200: var(--logile-a-orange-200);
  --logile-utility-orange-dark-300: var(--logile-a-orange-300);
  --logile-utility-orange-dark-400: var(--logile-a-orange-400);
  --logile-utility-orange-dark-500: var(--logile-a-orange-500);
  --logile-utility-orange-dark-600: var(--logile-a-orange-600);
  --logile-utility-orange-dark-700: var(--logile-a-orange-700);
  --logile-utility-orange-dark-800: var(--logile-a-orange-800);
  --logile-utility-orange-dark-900: var(--logile-a-orange-900);
  --logile-utility-orange-dark-950: var(--logile-a-orange-950);
  --logile-utility-orange-dark-1a: var(--logile-a-orange-1a);
  --logile-utility-orange-dark-2a: var(--logile-utility-yellow-2a);
  --logile-utility-orange-dark-3a: var(--logile-a-orange-3a);
  --logile-utility-orange-dark-4a: var(--logile-a-orange-4a);
  --logile-utility-orange-dark-5a: var(--logile-a-orange-5a);
  --logile-utility-orange-dark-6a: var(--logile-a-orange-6a);
  --logile-utility-orange-dark-7a: var(--logile-a-orange-7a);
  --logile-utility-orange-dark-8a: var(--logile-a-orange-8a);
  --logile-utility-orange-dark-9a: var(--logile-a-orange-9a);
  --logile-utility-orange-dark-10a: var(--logile-a-orange-10a);
  --logile-utility-orange-dark-11a: var(--logile-a-orange-11a);
  --logile-utility-green-dark-50: var(--logile-a-green-50);
  --logile-utility-green-dark-100: var(--logile-a-green-100);
  --logile-utility-green-dark-200: var(--logile-a-green-200);
  --logile-utility-green-dark-300: var(--logile-a-green-300);
  --logile-utility-green-dark-400: var(--logile-a-green-400);
  --logile-utility-green-dark-500: var(--logile-a-green-500);
  --logile-utility-green-dark-600: var(--logile-a-green-600);
  --logile-utility-green-dark-700: var(--logile-a-green-700);
  --logile-utility-green-dark-800: var(--logile-a-green-800);
  --logile-utility-green-dark-900: var(--logile-a-green-900);
  --logile-utility-green-dark-950: var(--logile-a-green-950);
  --logile-utility-green-dark-1a: var(--logile-a-green-1a);
  --logile-utility-green-dark-2a: var(--logile-a-green-2a);
  --logile-utility-green-dark-3a: var(--logile-a-green-3a);
  --logile-utility-green-dark-4a: var(--logile-a-green-4a);
  --logile-utility-green-dark-5a: var(--logile-a-green-5a);
  --logile-utility-green-dark-6a: var(--logile-a-green-6a);
  --logile-utility-green-dark-7a: var(--logile-a-green-7a);
  --logile-utility-green-dark-8a: var(--logile-a-green-8a);
  --logile-utility-green-dark-9a: var(--logile-a-green-9a);
  --logile-utility-green-dark-10a: var(--logile-a-green-10a);
  --logile-utility-green-dark-11a: var(--logile-a-green-11a);
  --logile-utility-purple-dark-50: var(--logile-a-violet-50);
  --logile-utility-purple-dark-100: var(--logile-a-violet-100);
  --logile-utility-purple-dark-200: var(--logile-a-violet-200);
  --logile-utility-purple-dark-300: var(--logile-a-violet-300);
  --logile-utility-purple-dark-400: var(--logile-a-violet-400);
  --logile-utility-purple-dark-500: var(--logile-a-violet-500);
  --logile-utility-purple-dark-600: var(--logile-a-violet-600);
  --logile-utility-purple-dark-700: var(--logile-a-violet-700);
  --logile-utility-purple-dark-800: var(--logile-a-violet-800);
  --logile-utility-purple-dark-900: var(--logile-a-violet-900);
  --logile-utility-purple-dark-950: var(--logile-a-violet-950);
  --logile-utility-purple-dark-1a: var(--logile-a-violet-1a);
  --logile-utility-purple-dark-2a: var(--logile-a-violet-2a);
  --logile-utility-purple-dark-3a: var(--logile-a-violet-3a);
  --logile-utility-purple-dark-4a: var(--logile-a-violet-4a);
  --logile-utility-purple-dark-5a: var(--logile-a-violet-5a);
  --logile-utility-purple-dark-6a: var(--logile-a-violet-6a);
  --logile-utility-purple-dark-7a: var(--logile-a-violet-7a);
  --logile-utility-purple-dark-8a: var(--logile-a-violet-8a);
  --logile-utility-purple-dark-9a: var(--logile-a-violet-9a);
  --logile-utility-purple-dark-10a: var(--logile-a-violet-10a);
  --logile-utility-purple-dark-11a: var(--logile-a-violet-11a);
  --logile-utility-pink-dark-50: var(--logile-a-pink-50);
  --logile-utility-pink-dark-100: var(--logile-a-pink-100);
  --logile-utility-pink-dark-200: var(--logile-a-pink-200);
  --logile-utility-pink-dark-300: var(--logile-a-pink-300);
  --logile-utility-pink-dark-400: var(--logile-a-pink-400);
  --logile-utility-pink-dark-500: var(--logile-a-pink-500);
  --logile-utility-pink-dark-600: var(--logile-a-pink-600);
  --logile-utility-pink-dark-700: var(--logile-a-pink-700);
  --logile-utility-pink-dark-800: var(--logile-a-pink-800);
  --logile-utility-pink-dark-900: var(--logile-a-pink-900);
  --logile-utility-pink-dark-950: var(--logile-a-pink-950);
  --logile-utility-pink-dark-1a: var(--logile-a-pink-1a);
  --logile-utility-pink-dark-2a: var(--logile-a-pink-2a);
  --logile-utility-pink-dark-3a: var(--logile-a-pink-3a);
  --logile-utility-pink-dark-4a: var(--logile-a-pink-4a);
  --logile-utility-pink-dark-5a: var(--logile-a-pink-5a);
  --logile-utility-pink-dark-6a: var(--logile-a-pink-6a);
  --logile-utility-pink-dark-7a: var(--logile-a-pink-7a);
  --logile-utility-pink-dark-8a: var(--logile-a-pink-8a);
  --logile-utility-pink-dark-9a: var(--logile-a-pink-9a);
  --logile-utility-pink-dark-10a: var(--logile-a-pink-10a);
  --logile-utility-pink-dark-11a: var(--logile-a-pink-11a);
  --logile-utility-teal-dark-50: var(--logile-a-teal-50);
  --logile-utility-teal-dark-100: var(--logile-a-teal-100);
  --logile-utility-teal-dark-200: var(--logile-a-teal-200);
  --logile-utility-teal-dark-300: var(--logile-a-teal-300);
  --logile-utility-teal-dark-400: var(--logile-a-teal-400);
  --logile-utility-teal-dark-500: var(--logile-a-teal-500);
  --logile-utility-teal-dark-600: var(--logile-a-teal-600);
  --logile-utility-teal-dark-700: var(--logile-a-teal-700);
  --logile-utility-teal-dark-800: var(--logile-a-teal-800);
  --logile-utility-teal-dark-900: var(--logile-a-teal-900);
  --logile-utility-teal-dark-950: var(--logile-a-teal-950);
  --logile-utility-teal-dark-1a: var(--logile-a-teal-1a);
  --logile-utility-teal-dark-2a: var(--logile-a-teal-2a);
  --logile-utility-teal-dark-3a: var(--logile-a-teal-3a);
  --logile-utility-teal-dark-4a: var(--logile-a-teal-4a);
  --logile-utility-teal-dark-5a: var(--logile-a-teal-5a);
  --logile-utility-teal-dark-6a: var(--logile-a-teal-6a);
  --logile-utility-teal-dark-7a: var(--logile-a-teal-7a);
  --logile-utility-teal-dark-8a: var(--logile-a-teal-8a);
  --logile-utility-teal-dark-9a: var(--logile-a-teal-9a);
  --logile-utility-teal-dark-10a: var(--logile-a-teal-10a);
  --logile-utility-teal-dark-11a: var(--logile-a-teal-11a);
  --logile-utility-yellow-dark-50: var(--logile-a-yellow-50);
  --logile-utility-yellow-dark-100: var(--logile-a-yellow-100);
  --logile-utility-yellow-dark-200: var(--logile-a-yellow-200);
  --logile-utility-yellow-dark-300: var(--logile-a-yellow-300);
  --logile-utility-yellow-dark-400: var(--logile-a-yellow-400);
  --logile-utility-yellow-dark-500: var(--logile-a-yellow-500);
  --logile-utility-yellow-dark-600: var(--logile-a-yellow-600);
  --logile-utility-yellow-dark-700: var(--logile-a-yellow-700);
  --logile-utility-yellow-dark-800: var(--logile-a-yellow-800);
  --logile-utility-yellow-dark-900: var(--logile-a-yellow-900);
  --logile-utility-yellow-dark-950: var(--logile-a-yellow-950);
  --logile-utility-yellow-dark-1a: var(--logile-a-yellow-1a);
  --logile-utility-yellow-dark-2a: var(--logile-a-yellow-2a);
  --logile-utility-yellow-dark-3a: var(--logile-a-yellow-3a);
  --logile-utility-yellow-dark-4a: var(--logile-a-yellow-4a);
  --logile-utility-yellow-dark-5a: var(--logile-a-yellow-5a);
  --logile-utility-yellow-dark-6a: var(--logile-a-yellow-6a);
  --logile-utility-yellow-dark-7a: var(--logile-a-yellow-7a);
  --logile-utility-yellow-dark-8a: var(--logile-a-yellow-8a);
  --logile-utility-yellow-dark-9a: var(--logile-a-yellow-9a);
  --logile-utility-yellow-dark-10a: var(--logile-a-yellow-10a);
  --logile-utility-yellow-dark-11a: var(--logile-a-yellow-11a);
  --logile-utility-red-dark-50: var(--logile-a-red-50);
  --logile-utility-red-dark-100: var(--logile-a-red-100);
  --logile-utility-red-dark-200: var(--logile-a-red-200);
  --logile-utility-red-dark-300: var(--logile-a-red-300);
  --logile-utility-red-dark-400: var(--logile-a-red-400);
  --logile-utility-red-dark-500: var(--logile-a-red-500);
  --logile-utility-red-dark-600: var(--logile-a-red-600);
  --logile-utility-red-dark-700: var(--logile-a-red-700);
  --logile-utility-red-dark-800: var(--logile-a-red-800);
  --logile-utility-red-dark-900: var(--logile-a-red-900);
  --logile-utility-red-dark-950: var(--logile-a-red-950);
  --logile-utility-red-dark-1a: var(--logile-a-red-1a);
  --logile-utility-red-dark-2a: var(--logile-a-red-2a);
  --logile-utility-red-dark-3a: var(--logile-a-red-3a);
  --logile-utility-red-dark-4a: var(--logile-a-red-4a);
  --logile-utility-red-dark-5a: var(--logile-a-red-5a);
  --logile-utility-red-dark-6a: var(--logile-a-red-6a);
  --logile-utility-red-dark-7a: var(--logile-a-red-7a);
  --logile-utility-red-dark-8a: var(--logile-a-red-8a);
  --logile-utility-red-dark-9a: var(--logile-a-red-9a);
  --logile-utility-red-dark-10a: var(--logile-a-red-10a);
  --logile-utility-red-dark-11a: var(--logile-a-red-11a);
}
