@use "@/styles/mixins/mixins.scss" as *;

.create-template-questions {
  @include placeholder-page;
  padding: var(--space-m) var(--space-xl);
  gap: var(--space-m);
  &__header-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__header.create-template-questions__header {
    color: var(--logile-text-primary);
    font-size: var(--logile-size-secondary-heading);
    font-weight: var(--logile-weight-500);
  }
  &__all-ques-expand-container {
    display: flex;
    gap: var(--space-xl);
  }
  &__expanded-btn.create-template-questions__expanded-btn {
    padding: var(--space-l) var(--space-xl);
    border-radius: var(--radius-m);
    border: 1px solid var(--logile-border-secondary);
    background: var(--logile-bg-container-1);
    color: var(--logile-icon-secondary);
    &--active {
      border: 1px solid var(--logile-border-state-disabled);
      background: var(--logile-bg-state-disabled-subtle);
      color: var(--logile-icon-state-disabled);
    }
  }
  &-cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    &__placeholder {
      border-radius: var(--radius-m);
      border: 1px dashed var(--logile-border-secondary);
      background: var(--logile-bg-container-1);
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__placeholder-text.create-template-questions-cards-wrapper__placeholder-text {
      color: var(--logile-text-tertiary);
      font-size: var(--logile-size-body);
      font-weight: var(--logile-weight-400);
    }
    &__action {
      display: flex;
      align-items: center;
      gap: var(--space-xl);
      &-item {
        display: flex;
        align-items: center;
        gap: var(--space-xs);
      }
    }
  }
}
