.appShell__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-secondary);
  
    .appShell__sideNavAndbody {
      display: flex;
      flex-grow: 1;
      max-height: calc(100vh - var(--topBarHeight, 0px));
      overflow: hidden;
    }
  
    & .appShell__body {
      flex-grow: 1;
      overflow-y: hidden;
      overflow-x: hidden;
      background-color: var(--bg-secondary); 
      border-start-start-radius: var(--border-radius-md);
      border-end-start-radius: var(--border-radius-md);
      margin-bottom: var(--space-2xl);
    
    }
  }
  