@use "@/styles/mixins/mixins.scss" as *;

.ct-add-notification-modal {
  --select-condition-width: 202px;
  --recipient-btn-width: 174px;
  --recipient-min-height: 40px;

  @include flex-box(column);
  gap: var(--space-3xl);
  padding-bottom: var(--space-xs);

  &__select {
    @include flex-center(flex-start, center, var(--space-s));
    &-condition {
      width: var(--select-condition-width);
    }
    &-wrapper {
      gap: var(--space-9xl);
    }
  }
  &__send-to-wrapper {
    @include flex-center(space-between, center, var(--space-m));
  }
  &__custom-recipient-button {
    width: var(--recipient-btn-width);
  }
  &__custom-recipient-section {
    @include flex-box(column);
    gap: var(--space-m);
    &-list {
      @include flex-center(space-between);
      padding: 0 var(--space-xl);
      min-height: var(--recipient-min-height);
      border-radius: var(--radius-m);
      border: 1px solid var(--logile-border-primary);
      &-item {
        @include flex-center(flex-start, center, var(--space-xs));
      }
    }
    &-actions {
      @include flex-center(flex-end, center, var(--space-none));
    }
  }
  &__text-label {
    font-size: var(--logile-size-secondary-text);
    color: var(--logile-text-secondary);
  }
  &__text-label-required {
    position: relative;
    @include form-label($required: true);
  }
  .checkbox {
    height: fit-content;
  }
  .checkbox__label {
    color: var(--logile-text-primary);
  }
  &__subject-editor,
  &__message-editor {
    .editor__body-label {
      font-size: var(--logile-size-secondary-text);
      font-weight: var(--logile-weight-400);
      color: var(--logile-text-secondary);
    }
  }
  &__recipients-count-error {
    @include form-label($error: true);
  }
}

.ct-custom-recipient-modal {
  padding-bottom: var(--space-xl);
}
