@mixin placeholder-page {
    display: flex;
    flex-direction: column;
    gap: var(--space-4xl);
    justify-content: center;
    align-items: center;
    height: 300px;
    color: var(--text-primary);
    font-size: var(--size-secondary-heading);
}

@mixin flex-center($justify: center, $align: center, $gap: var(--space-l)) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}