@mixin placeholder-page {
    display: flex;
    flex-direction: column;
    gap: var(--space-4xl);
    color: var(--text-primary);
    font-size: var(--size-secondary-heading);
    padding: var(--space-m) var(--space-xl);
}

@mixin flex-center($justify: center, $align: center, $gap: var(--space-l)) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}