@mixin placeholder-page {
    display: flex;
    flex-direction: column;
    gap: var(--space-4xl);
    color: var(--text-primary);
    font-size: var(--size-secondary-heading);
    padding: var(--space-xl) var(--space-xl);
}

@mixin flex-center($justify: center, $align: center, $gap: var(--space-l)) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex-box($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin form-label-text {
  width: fit-content;
  color: var(--text-secondary);
  font-size: var(--size-secondary-text);
  font-weight: var(--weight-400);
  line-height: var(--line-height-body-large);
}
