@mixin placeholder-page {
  display: flex;
  flex-direction: column;
  gap: var(--space-4xl);
  color: var(--logile-text-primary);
  font-size: var(--logile-size-secondary-heading);
  padding: var(--space-xl) var(--space-xl);
}

@mixin flex-center($justify: center, $align: center, $gap: var(--space-l)) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex-box($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin form-label($required: false, $error: false, $isClickable: false) {
  @if $required == true {
    &::after {
      content: "*";
      position: absolute;
      color: var(--logile-text-state-violation);
    }
  } @else {
    width: fit-content;
    position: relative;
    font-size: var(--logile-size-secondary-text);
    font-weight: var(--logile-weight-400);
    line-height: var(--logile-line-height-secondary-text);
    flex-shrink: 0;
    color: var(--logile-text-primary);

    @if $isClickable == true {
      cursor: pointer;
      font-size: var(--logile-size-body);
      line-height: var(--logile-line-height-body);
    }

    @if $error == true {
      color: var(--logile-text-state-violation);
    }
  }
}
