.app-bar-main-container {
    padding: 0;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    position: static;
    .logo-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--space-xs) var(--space-xl) var(--space-xs) var(--space-xs);
    }
}